{% from "cookie-banner/macro.njk" import govukCookieBanner %}
{% macro cookieBanner() %}
    {% set html %}
      <p class="govuk-body">This website only stores the cookies that are essential to make it work.</p>
    {% endset %}

    {{ govukCookieBanner({
      classes: "global-cookie-message",
      ariaLabel: "Cookies on 'Report your salmon or sea trout catch'",
      messages: [
        {
          headingText: "Cookies on 'Report your salmon or sea trout catch'",
          html: html,
          actions: [
            {
              text: "Close",
              classes: "close-global-cookie-message",
              type: "button"
            },
            {
              text: "View cookies",
              href: "/cookies"
            }
          ]
        }
      ]
    }) }}

    <script type="text/javascript">
        function removeCookieMessage() {
            var elem = document.getElementsByClassName('global-cookie-message')[0]
            if (elem.parentNode) {
                elem.parentNode.removeChild(elem)
            }
        }
        (function () {
            'use strict'
            var gds_seen_cookie_message = /(^|\;)\s*gds_seen_cookie_message=/.test(document.cookie)
            if (gds_seen_cookie_message) {
                removeCookieMessage()
            } else {
                document.getElementsByClassName('close-global-cookie-message')[0].addEventListener('click', function() {
                    var expiry = new Date()
                    expiry.setDate(expiry.getDate() + 90)
                    document.cookie = 'gds_seen_cookie_message=true; expires=' + expiry.toUTCString() + '; path=/;'
                    removeCookieMessage()
                })
            }
        })()
    </script>
{% endmacro %}
