{% from "header/macro.njk" import govukHeader %}

{% macro navigationHeaderBlock(page) %}
    {{ govukHeader({
        serviceUrl: "/",
        homepageUrl: "https://www.gov.uk/",
        containerClasses: "govuk-width-container",
        serviceName: "Report your salmon or sea trout catch",
        navigation: [
            {
              href: page,
              text: "Catch returns",
              active: true
            },
            {
              href: "/reports?back=" + page,
              text: "Reports"
            },
            {
              href: "/logout",
              text: "Sign out"
            }
        ]
        })
    }}
{% endmacro %}