{% from "header/macro.njk" import govukHeader %}

{% macro navigationHeaderBlock() %}
    {{ govukHeader({
        serviceUrl: "/",
        homepageUrl: "https://www.gov.uk/",
        containerClasses: "govuk-width-container",
        serviceName: "Report your salmon or sea trout catch",
        navigation: [
            {
              href: "#",
              text: "Catch returns",
              active: true
            },
            {
              href: "/reports",
              text: "Reports"
            },
            {
              href: "/logout",
              text: "Sign out"
            }
        ]
        })
    }}
{% endmacro %}