{% from "header/macro.njk" import govukHeader %}
{% from "cookie-banner.njk" import cookieBanner %}

{% macro navigationHeaderBlock(page) %}
    {{ cookieBanner() }}
    {{ govukHeader({
        serviceUrl: "/",
        homepageUrl: "https://www.gov.uk/",
        containerClasses: "govuk-width-container",
        serviceName: "Report your salmon or sea trout catch",
        navigation: [
            {
              href: "/licence" if page === "licence" else "/back",
              text: "Catch returns",
              active: not page or page === "licence"
            },
            {
              href: "/records",
              text: "Records",
              active: page === "records"
            },
            {
              href: "/reports",
              text: "Reports",
              active: page === "reports"
            },
            {
              href: "/age-weight-key?clear=true",
              text: "Age weight key",
              active: page === "age-weight-key"
            },
            {
              href: "/logout",
              text: "Sign out"
            }
        ]
        })
    }}
{% endmacro %}