{% from "table/macro.njk" import govukTable %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% macro renderCheck(id, name, checked) %}
<div class="rcr-tab-checkboxes__item">
    <input class="rcr-tab-checkboxes__input" type="checkbox" id="exclude-{{ id }}" name="{{ name }}" value="{{ id }}" {% if checked %}checked="checked"{% endif %} disabled=true>
    <label for="exclude-{{ id }}" class="rcr-tab-checkboxes__label"></label>
</div>
{% endmacro %}

{% macro review(activities, catches, smallCatches, locked, year, fmt, reportingExclude) %}
    <span hidden="hidden">
        {% set riverRows = [] %}
        {% set salmonAndLargeTroutItems = [] %}
        {% set smallCatchItems = [] %}

        {% for activity in activities %}
            {{ riverRows.push([
                { text: activity.river.name },
                { text: activity.daysFishedWithMandatoryRelease, format: "numeric" },
                { text: activity.daysFishedOther, format: "numeric" },
                { text: activity.count, format: "numeric" }
            ]) }}
        {% endfor %}

        {% if catches.length %}
            {% for fish in catches %}
                {% if fmt %}
                    {{ salmonAndLargeTroutItems.push([
                        { text: fish.dateCaught },
                        { text: fish.activity.river.name },
                        { text: fish.species.name },
                        { text: fish.weight },
                        { text: fish.method.name },
                        { text: "Yes" if fish.released else "No" },
                        { html: renderCheck(fish.id, "exclude-catch", fish.reportingExclude), format: "numeric" }
                    ]) }}
                {% else %}
                    {{ salmonAndLargeTroutItems.push([
                        { text: fish.dateCaught },
                        { text: fish.activity.river.name },
                        { text: fish.species.name },
                        { text: fish.weight },
                        { text: fish.method.name },
                        { text: "Yes" if fish.released else "No" }
                    ]) }}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if smallCatches.length %}
            {% for catch in smallCatches %}
                {% if fmt %}
                    {{ smallCatchItems.push([
                        { text: catch.month },
                        { text: catch.river },
                        { text: catch.fly or 0, format: "numeric" },
                        { text: catch.spinner or 0, format: "numeric" },
                        { text: catch.bait or 0, format: "numeric" },
                        { text: catch.unknown or 0, format: "numeric" },
                        { text: catch.released, format: "numeric" },
                        { html: renderCheck(catch.id, "exclude-small-catch", catch.reportingExclude), format: "numeric" }
                    ]) }}
                {% else %}
                    {{ smallCatchItems.push([
                        { text: catch.month },
                        { text: catch.river },
                        { text: catch.fly or 0, format: "numeric" },
                        { text: catch.spinner or 0, format: "numeric" },
                        { text: catch.bait or 0, format: "numeric" },
                        { text: catch.released, format: "numeric" }
                    ]) }}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if fmt %}
            {% set largeCatchHeader = [
                { text: "Date" },
                { text: "River" },
                { text: "Type" },
                { text: "Weight" },
                { text: "Method" },
                { text: "Released" },
                { text: "Ex.", format: "numeric" }
            ] %}
        {% else %}
            {% set largeCatchHeader = [
                { text: "Date" },
                { text: "River" },
                { text: "Type" },
                { text: "Weight" },
                { text: "Method" },
                { text: "Released", format: "numeric" }
            ] %}
        {% endif %}

        {% if fmt %}
            {% set smallCatchHeader = [
                { text: "Month" },
                { text: "River" },
                { text: "Fly", format: "numeric" },
                { text: "Spinner", format: "numeric" },
                { text: "Bait", format: "numeric" },
                { text: "Unknown", format: "numeric" },
                { text: "Released", format: "numeric" },
                { text: "Ex." }
            ] %}
        {% else %}
            {% set smallCatchHeader = [
                { text: "Month" },
                { text: "River" },
                { text: "Fly", format: "numeric" },
                { text: "Spinner", format: "numeric" },
                { text: "Bait", format: "numeric" },
                { text: "Released", format: "numeric" }
            ] %}
        {% endif %}
    </span>

    {% if riverRows.length %}
        {{ govukTable({
            caption: "Rivers fished",
            captionClasses: "govuk-heading-m",
            classes: "govuk-!-margin-bottom-9",
            firstCellIsHeader: false,
            head: [
                { text: "River" },
                { text: "Days fished (1 Jan-16 Jun)", format: "numeric" },
                { text: "Days fished (17 Jun-31 Dec)", format: "numeric" },
                { text: "Fish caught", format: "numeric" }
            ],
            rows: riverRows
        }) }}

        {% if smallCatchItems.length %}
            {{ govukTable({
                caption: "Small adult sea trout (1lb and under) catches",
                captionClasses: "govuk-heading-m",
                classes: "govuk-!-margin-bottom-9",
                firstCellIsHeader: false,
                head: smallCatchHeader,
                rows: smallCatchItems
            }) }}
        {% endif %}

        {% if salmonAndLargeTroutItems.length %}
            {{ govukTable({
                caption: "Salmon and large adult sea trout",
                captionClasses: "govuk-heading-m",
                classes: "govuk-!-margin-bottom-9",
                firstCellIsHeader: false,
                head: largeCatchHeader,
                rows: salmonAndLargeTroutItems
            }) }}
        {% endif %}

        {% if fmt %}
            {{ govukCheckboxes({
                  idPrefix: "exclude",
                  name: "exclude",
                  items: [{
                        text: "Exclude this catch return from reports?",
                        checked: reportingExclude,
                        disabled: true
                  }]
                })
            }}
        {% endif %}

    {% else %}
        {% if not locked %}
            <p class="govuk-body-m">I confirm that I did not fish for salmon or sea trout in {{ year }}.</p>
        {% else %}
            <p class="govuk-body-m">I did not fish for salmon or sea trout in {{ year }}.</p>
        {% endif %}
    {% endif %}
{% endmacro %}