{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "select/macro.njk" import govukSelect %}
{% from "input/macro.njk" import govukInput %}

{% block beforeContent %}
    {{ govukBackLink({
        href: "/summary?force=true",
        text: "Back"
    }) }}
{% endblock %}

{% block pageTitle %}{% if add %}Add{% else %}Edit{% endif %} a river{% endblock %}



{% set items = [] %}
{% for river in rivers %}
    {{ items.push({
        text: river.name,
        value: river.id,
        selected: river.id.toString() === payload.river
    }) }}
{% endfor %}

{% set errorList = [] %}
{% set riverErrorMessage = null %}
{% set daysErrorMessage = null %}

{% if errors %}
    {% for error in errors %}
        {% if error.River %}
            {% set riverErrorMessage = { text: "Select a river" } %}
            {{ errorList.push({
                text: "You have not selected a river",
                href: "#river"
            }) }}
        {% endif %}

        {% if error.Activity === "EMPTY" %}
            {% set daysErrorMessage = { text: "Enter a number between 1 and 365" } %}
            {{ errorList.push({
                text: "You have not entered the number of days you fished",
                href: "#days"
            }) }}
        {% endif %}

        {% if error.Activity === "NOT_A_NUMBER" or error.Activity === 'ACTIVITY_DAYS_MAX_EXCEEDED' or error.Activity === 'ACTIVITY_DAYS_NOT_GREATER_THAN_ZERO' %}
            {% set daysErrorMessage = { text: "Enter a number between 1 and 365" } %}
            {{ errorList.push({
                text: "You have not entered a valid number of days you fished",
                href: "#days"
            }) }}
        {% endif %}

    {% endfor %}
{% endif %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorList
                }) }}
            {% endif %}

            {% if add %}
                <h1 class="govuk-heading-l">Add a river where you fished</h1><p class="govuk-body-m">If you fished in more than one river, you can add another afterwards</p>
            {% else %}
                <h1 class="govuk-heading-l">Edit a river</h1>
            {% endif %}

            {% call govukFieldset({}) %}

                {{ govukSelect({
                    id: "river",
                    name: "river",
                    label: {
                        text: "Name of river"
                    },
                    hint: { text: "For example, Derwent (Cumbria)" },
                    items: [ { value: null } ].concat(items),
                    errorMessage: riverErrorMessage
                }) }}

                {{ govukInput({
                    id: "days",
                    name: "days",
                    label: {
                        text: "How many days did you fish in this river?"
                    },
                    hint: { text: "Include days without a catch" },
                    value: payload.days,
                    attributes: { maxlength: 3 },
                    classes: "govuk-input--width-3",
                    errorMessage: daysErrorMessage
                }) }}

                {{ govukButton({
                    name: "continue",
                    text: "Continue"
                }) }}

            {% endcall %}
            {{ extra() }}
        </form>
        {{ summaryLink('force') }}
    </div>
</div>
{% endblock %}
