{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "select/macro.njk" import govukSelect %}
{% from "input/macro.njk" import govukInput %}

{% block beforeContent %}
    {{ govukBackLink({
        href: "/summary",
        text: "Back"
    }) }}
{% endblock %}

{% block pageTitle %}Details for the river where you fished{% endblock %}

{% set items = [] %}
{% for river in rivers %}
    {{ items.push({
        text: river.name,
        value: river.id,
        selected: river.id.toString() === payload.river
    }) }}
{% endfor %}

{% set errorList = [] %}
{% set riverErrorMessage = null %}
{% set daysErrorMessage = null %}

{% if errors %}
    {% for error in errors %}
        {% if error.River %}
            {% set riverErrorMessage = { text: "Select a river" } %}
            {{ errorList.push({
                text: "You have not selected a river",
                href: "#river"
            }) }}
        {% endif %}

        {% if error.Activity === "EMPTY" %}
            {% set daysErrorMessage = { text: "Enter a number between 1 and 366" } %}
            {{ errorList.push({
                text: "You have not entered the number of days you fished the river",
                href: "#days"
            }) }}
        {% endif %}

        {% if error.Activity === "NOT_A_NUMBER" or error.Activity === 'ACTIVITY_DAYS_MAX_EXCEEDED' or error.Activity === 'ACTIVITY_DAYS_NOT_GREATER_THAN_ZERO' %}
            {% set daysErrorMessage = { text: "Enter a number between 1 and 366" } %}
            {{ errorList.push({
                text: "You have not entered a valid number of days you fished the river",
                href: "#days"
            }) }}
        {% endif %}

    {% endfor %}
{% endif %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorList
                }) }}
            {% endif %}

            {% call govukFieldset({
              legend: {
                text: "Details for the river where you fished",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

                {{ govukSelect({
                    id: "river",
                    name: "river",
                    label: {
                        text: "Name of river"
                    },
                    hint: { text: "e.g. Derwent (Cumbria)" },
                    items: [ { value: null } ].concat(items),
                    errorMessage: riverErrorMessage
                }) }}

                {{ govukInput({
                    id: "days",
                    name: "days",
                    label: {
                        text: "How many days did you fish this river?"
                    },
                    hint: { text: "Include days without a catch" },
                    value: payload.days,
                    attributes: { maxlength: 3 },
                    classes: "govuk-input--width-3",
                    errorMessage: daysErrorMessage
                }) }}

                {{ govukButton({
                    id: "continue",
                    text: "Continue"
                }) }}

            {% endcall %}
            <input type="hidden" name="rcr2018" value="{{rcr2018}}"/>
        </form>
    </div>
</div>
{% endblock %}
