{% extends "layout.html" %}

{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "select/macro.njk" import govukSelect %}
{% from "input/macro.njk" import govukInput %}
{% from "navigation.njk" import navigationHeaderBlock %}

{% block header %}
    {% if fmt %}
        {{ navigationHeaderBlock() }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block pageTitle %}{% if add %}Add{% else %}Edit{% endif %} a river where you fished - GOV.UK{% endblock %}

{% set items = [] %}
{% for river in rivers %}
    {{ items.push({
        text: river.name,
        value: river.id,
        selected: river.id.toString() === payload.river
    }) }}
{% endfor %}

{% set errorList = [] %}
{% set riverErrorMessage = null %}
{% set daysMandatoryErrorMessage = null %}
{% set daysOtherErrorMessage = null %}

{% if errors %}
    {% for error in errors %}
        {% if error.Activity === 'ACTIVITY_RIVER_REQUIRED' %}
            {% set riverErrorMessage = { text: "Select a river" } %}
            {{ errorList.push({
                text: "You have not selected a river",
                href: "#river"
            }) }}
        {% endif %}

        {% if error.daysFishedWithMandatoryRelease === "NOT_A_NUMBER" or
            error.Activity === 'ACTIVITY_DAYS_FISHED_WITH_MANDATORY_RELEASE_MAX_EXCEEDED' or
            error.Activity === 'ACTIVITY_DAYS_FISHED_WITH_MANDATORY_RELEASE_NEGATIVE' %}
            {% set daysMandatoryErrorMessage = { text: "Enter a number between 0 and 167" } %}
            {{ errorList.push({
                text: "You have not entered a valid number of days fished between 1 January and 16 June",
                href: "#daysFishedWithMandatoryRelease"
            }) }}
        {% endif %}

        {% if error.daysFishedOther === "NOT_A_NUMBER" or
            error.Activity === 'ACTIVITY_DAYS_FISHED_OTHER_MAX_EXCEEDED' or
            error.Activity === 'ACTIVITY_DAYS_FISHED_OTHER_NEGATIVE' %}
            {% set daysOtherErrorMessage = { text: "Enter a number between 0 and 198" } %}
            {{ errorList.push({
                text: "You have not entered a valid number of days fished between 17 June and 31 Dec",
                href: "#daysFishedOther"
            }) }}
        {% endif %}

        {% if error.Activity === 'ACTIVITY_DAYS_FISHED_NOT_GREATER_THAN_ZERO' %}
            {% set daysOtherErrorMessage = { text: "Enter a number between 0 and 198" } %}
            {% set daysMandatoryErrorMessage = { text: "Enter a number between 0 and 167" } %}
            {{ errorList.push({
                text: "The number of days fished must be greater than 0",
                href: "#daysFishedOther"
            }) }}
        {% endif %}

        {% if error.Activity === 'ACTIVITY_RIVER_FORBIDDEN' %}
            {% set riverErrorMessage = { text: "Select a river" } %}
            {{ errorList.push({
                text: "You have not selected a river",
                href: "#river"
            }) }}
        {% endif %}
    {% endfor %}
{% endif %}

{% if add %}
    {% set leg = '<h1 class="govuk-heading-l">Add a river where you fished in ' + details.year + '</h1><p class="govuk-body-m">If you fished in more than one river, you can add another afterwards</p>' %}
{% else %}
    {% set leg = '<h1 class="govuk-heading-l">Edit a river</h1>' %}
{% endif %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorList
                }) }}
            {% endif %}

            {% call govukFieldset({
                legend: { html: leg },
                isPageHeading: true
            }) %}

                {{ govukSelect({
                    id: "river",
                    name: "river",
                    label: {
                        text: "Name of river"
                    },
                    hint: { text: "For example, Derwent (Cumbria)" },
                    items: [ { value: null } ].concat(items),
                    errorMessage: riverErrorMessage
                }) }}

                {{ govukInput({
                    id: "daysFishedWithMandatoryRelease",
                    name: "daysFishedWithMandatoryRelease",
                    label: {
                        text: "How many days did you fish in this river between 1 January and 16 June?"
                    },
                    hint: { text: "Include days without a catch" },
                    value: payload.daysFishedWithMandatoryRelease,
                    attributes: { maxlength: 3 },
                    classes: "govuk-input--width-3",
                    errorMessage: daysMandatoryErrorMessage
                }) }}

                {{ govukInput({
                    id: "daysFishedOther",
                    name: "daysFishedOther",
                    label: {
                        text: "How many days did you fish in this river between 17 June and 31 Dec?"
                    },
                    hint: { text: "Include days without a catch" },
                    value: payload.daysFishedOther,
                    attributes: { maxlength: 3 },
                    classes: "govuk-input--width-3",
                    errorMessage: daysOtherErrorMessage
                }) }}

                {{ govukButton({
                    name: "continue",
                    text: "Save",
                    attributes: { onclick: "var e=this;setTimeout(function(){e.disabled=true;},0);return true;" }
                }) }}

            {% endcall %}
            {{ extra() }}
        </form>
        {{ summaryLink() }}
    </div>
</div>
{% endblock %}
