{% extends "layout.html" %}

{% from "navigation.njk" import navigationHeaderBlock %}

{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "radios/macro.njk" import govukRadios %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% block header %}
  {% if fmt %}
    {{ navigationHeaderBlock('age-weight-key') }}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% set yesHtml %}
{{ govukWarningText({
  text: "This action cannot be undone",
  iconFallbackText: "Warning"
}) }}
{% endset -%}

{% set errorList = [] %}
{% set errorItem = null %}

{% if errors %}
  {% for error in errors %}
    {% if error.override === 'NO_OVERRIDE_SELECTED' %}
      {% set errorItem = { text: "Select yes if you want to replace the existing age weight key" } %}
        {{ errorList.push({
          text: "Select yes if you want to replace the existing age weight key",
          href: "#overwrite"
        }) }}
    {% endif %}
  {% endfor %}
{% endif %}

{% if errors and errors|existsOn("override") %}
  {% set errorItem = { text: "Select yes if you want to replace the existing age weight key" } %}
  {{ errorList.push({
    text: "Select yes if you want to replace the existing age weight key",
    href: "#overwrite"
  }) }}
{% endif %}

{% block pageTitle %}Upload a Salmon age weight key - GOV.UK{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">An age weight key already exists for the river {{ gate }} in {{ year }}</h1>
    <form method="post" enctype="multipart/form-data" action="#">
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      {% call govukFieldset({ }) %}

        {{ govukRadios({
          idPrefix: "overwrite",
          name: "overwrite",
          fieldset: {
            legend: {
              text: "Do you want to replace it?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "true",
              text: "Yes - replace the existing age weight key",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "false",
              text: "No - cancel this upload"
            }
          ],
          errorMessage: errorItem
        }) }}

        {{ govukButton({
          name: "submit",
          text: "Continue"
        }) }}

      {% endcall %}
      {{ extra() }}
    </form>

  </div>
</div>
{% endblock %}