{% extends "layout.html" %}

{% from "panel/macro.njk" import govukPanel %}
{% from "review.njk" import review %}
{% from "navigation.njk" import navigationHeaderBlock %}

{% block header %}
    {% if fmt %}
        {{ navigationHeaderBlock('/confirmation') }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% set title = "Your " + year + " catch return report" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full no-print-area">

        {{ govukPanel({
            titleText: "Catch return complete"
        }) }}

        <p class="govuk-body-l">Thank you for entering your salmon and sea trout catch return. This data helps the Environment Agency monitor, assess and manage fish stocks in a sustainable way.</p>
        <p class="govuk-body-l">We recommend printing a copy of your return to show you’ve complied with the national byelaws.</p>

        <p class="govuk-body">
            <a id="print-link" class="govuk-link govuk-body-m" href="#" onclick="window.print();return false;">Print your catch return</a>
        </p>

        <p class="govuk-body">
            <a href="https://www.smartsurvey.co.uk/s/QQJ22/" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
        {{ extra() }}
    </div>

    <div class="govuk-grid-column-full print-area">
        <h1 class="govuk-heading-l">{{ title }}</h1>
        {{ review(activities, catches, smallCatches, locked, year) }}
    </div>
</div>
{% endblock %}
