{% extends "layout.html" %}

{% from "panel/macro.njk" import govukPanel %}
{% from "review.njk" import review %}
{% from "navigation.njk" import navigationHeaderBlock %}
{% from "button/macro.njk" import govukButton %}

{% block header %}
    {% if fmt %}
        {{ navigationHeaderBlock() }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% set title = "Catch return complete" %}
{% block pageTitle %}{{ title }} - GOV.UK{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full no-print-area">

        {{ govukPanel({
            titleText: "Catch return complete"
        }) }}

        <p class="govuk-body-m govuk-!-margin-top-7">Thank you for completing your salmon and sea trout catch return.</p>
        <h1 class="govuk-heading-m">What happens next</h1>

        <p class="govuk-body-m">The Environment Agency will use this data to monitor, assess and manage fish stocks in a sustainable way.</p>

        <p class="govuk-body-m">
            <a id="print-link" class="govuk-link govuk-body-m" href="#" onclick="window.print();return false;">Print your catch return</a>
        </p>

        {% if fmt %}
            {{ govukButton({
              text: "Start a new catch return",
              href: "/licence",
              classes: "govuk-button--start"
            }) }}
        {% else %}
            <p class="govuk-body-m govuk-!-margin-top-7">
                <a href="https://www.smartsurvey.co.uk/s/QQJ22/" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
            </p>
        {% endif %}

        {{ extra() }}
    </div>


    <div class="govuk-grid-column-full print-area">
        <h1 class="govuk-heading-m">{{ title }}</h1>
        {{ review(activities, catches, smallCatches, locked, year, fmt, reportingExclude, foundInternal) }}
    </div>
</div>
{% endblock %}
