{% extends "layout.html" %}

{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "format-page-title.njk" import formatPageTitle %}

{% set title = "Do you want to delete river " + river.name + " from your " + details.year + " catch return?" %}

{% block pageTitle %}{{ formatPageTitle(title) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" action="#">

            {% call govukFieldset({
                legend: {
                    html: '<span class="govuk-heading-l">' + title + '</span><p class="govuk-body-l">Deleting a river will also delete all the fish added to it.</p>',
                    isPageHeading: true,
                    classes: "govuk-heading-l"
                }
            }) %}

                {{ govukButton({
                    name: "continue",
                    attributes: { onclick: "var e=this;setTimeout(function(){e.disabled=true;},0);return true;" },
                    text: "Delete"
                }) }}

            {% endcall %}
            {{ extra() }}
        </form>
        {{ summaryLink() }}
    </div>
</div>
{% endblock %}
