{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}
{% from "inset-text/macro.njk" import govukInsetText %}

{% block beforeContent %}
    {{ govukBackLink({
        href: "/summary",
        text: "Back"
    }) }}
{% endblock %}

{% set title = 'Confirm deleting ' + payload.type + ' weighing ' + payload.pounds + 'lb ' + payload.ounces + 'oz, caught on the ' + payload.river %}

{% block pageTitle %}Confirm deleting {{ title }} {% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            {% call govukFieldset({
              legend: {
                text: title,
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

                {{ govukButton({
                    id: "continue",
                    text: "Delete fish"
                }) }}

            {% endcall %}
            <input type="hidden" name="rcr2018" value="{{rcr2018}}"/>
        </form>
        <a class="govuk-link govuk-body-m" href="/summary">Cancel and return to summary page</a>
    </div>
</div>
{% endblock %}
