{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "navigation.njk" import navigationHeaderBlock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        href: "/licence",
        text: "Back"
    }) }}
{% endblock %}

{% block header %}
    {% if fmt %}
        {{ navigationHeaderBlock('/did-you-fish') }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% set title = "Did you fish for salmon or sea trout in " + year + "?" %}

{% block pageTitle %}{{ title }}{% endblock %}

{% set errorList = [] %}

{% if errors %}
    {% set dyfErrorMessage = { text: "Select yes or no" } %}
    {{ errorList.push({
        text: "You have not told us whether you fished in " + year,
        href: "#dyf"
    }) }}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorList
                }) }}
            {% endif %}

            {% call govukFieldset({
              legend: {
                text: title,
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

                {{ govukRadios({
                    idPrefix: "dyf",
                    name: "dyf",
                    items: [
                        {
                            text: "Yes",
                            value: "YES",
                            checked: payload.dyf === 'true'
                        },
                        {
                            text: "No",
                            value: "NO",
                            checked: payload.dyf === 'false'
                        }
                    ],
                    errorMessage: dyfErrorMessage
                }) }}

                {{ govukButton({
                        name: "continue",
                        text: "Continue"
                }) }}

            {% endcall %}
            {{ extra() }}
        </form>
    </div>
</div>
{% endblock %}
