{% extends "template.njk" %}
{% set assetPath = "/public" %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}

{% macro extra() %}
<div class="field">
    <input type="hidden" name="rcr2018" value="{{rcr2018}}"/>
    <input type="hidden" id="pgid" name="pgid" value="{{pgid}}"/>
</div>
{% endmacro %}

{% macro summaryLink() %}
<div>
    <a id="return-summary" class="govuk-link govuk-body-m" href="/summary">Cancel</a>
</div>
{% endmacro %}

{% block head %}
    <link href="/public/stylesheets/main.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
{% endblock %}

{% block header %}
    {{ govukHeader({
            homepageUrl: "#",
            containerClasses: "govuk-width-container",
            serviceName: "Report your salmon or sea trout catch"
        })
    }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
            tag: {
            text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/QQJ22/" target="_blank">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block footer %}
    {{ govukFooter({
        meta: {
            items: [
                {
                    href: "#1",
                    text: "Help"
                },
                {
                    href: "#2",
                    text: "Cookies"
                },
                {
                    href: "#3",
                    text: "Contact"
                },
                {
                    href: "#4",
                    text: "Terms and conditions"
                }
            ]
        }
    }) }}
{% endblock %}

{% block bodyEnd %}
    <script src="/public/javascript/all.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}



