{% extends "template.njk" %}
{% set assetPath = "/public" %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}
{% from "header/macro.njk" import govukHeader %}

{% macro extra() %}
<div class="field">
    <input type="hidden" name="rcr2018" value="{{rcr2018}}">
    <input type="hidden" id="pgid" name="pgid" value="{{pgid}}">
</div>
{% endmacro %}

{% macro summaryLink() %}
<div>
    <a id="return-summary" class="govuk-link govuk-body-m" href="/summary">Cancel</a>
</div>
{% endmacro %}

{% block head %}
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<link href="/public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">

<!-- Google Tag Manager -->
{% if gtm %}
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{gtm}}');</script>
<!-- End Google Tag Manager -->
{% endif %}


{% endblock %}

{% block header %}
    {{ govukHeader({
            assetsPath: assetPath + '/images',
            homepageUrl: "https://www.gov.uk/",
            serviceUrl: "/",
            containerClasses: "govuk-width-container",
            serviceName: "Report your salmon or sea trout catch"
        })
    }}
{% endblock %}

{% block beforeContent %}
    {% if fmt %}
        {% if details %}
            <div class="licence-info govuk-body-m">
                {% if details.licenceNumber %}Licence:&nbsp;{{ details.licenceNumber }}&nbsp;&#x7c;&nbsp;{% endif %}
                {% if details.postcode %}Postcode:&nbsp;{{ details.postcode }}&nbsp;&#x7c;&nbsp;{% endif %}
                {% if details.year %}Year:&nbsp;{{ details.year }}{% endif %}
            </div>
        {% endif %}
    {% else %}
        {{ govukPhaseBanner({
                tag: {
                text: "beta"
            },
            html: 'This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/QQJ22/" target="_blank">feedback</a> will help us to improve it.'
        }) }}
    {% endif %}
{% endblock %}

{% block bodyStart %}

{% if gtm %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{gtm}}"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}

<div id="global-cookie-message">
    <div class="govuk-width-container">
        <p class="govuk-link govuk-body-m">GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>
</div>
{% endblock %}

{% set footerHtml %}
    <p class="govuk-!-margin-top-5 govuk-!-margin-bottom-0">Environment Agency Helpline: <a href="tel:03708506506">03708 506 506</a></p>
    <p class="govuk-!-margin-top-0">(Open 8am to 6pm, Monday to Friday)</p>
    <p>Built by the <a href="#" class="govuk-footer__link">Government Digital Service</a></p>
{% endset -%}


{% block footer %}
    {{ govukFooter({
        meta: {
            items: [
                {
                    href: "https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter",
                    text: "Privacy Policy",
                    attributes: { target: "_blank" }
                },
                {
                    href: "/cookies",
                    text: "Cookies"
                }
            ],
            html: footerHtml
        }
    }) }}
{% endblock %}

{% block bodyEnd %}
    <script src="/public/javascript/all-min.js"></script>
    <script src="/public/javascript/cookie-functions-min.js"></script>
    <script src="/public/javascript/cookie-header-min.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script>var e = document.getElementsByClassName('hide-if-js-disabled');
        for (var i = 0; i < e.length; i++) { e[i].style.display='block'; }
    </script>
{% endblock %}



