{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "details/macro.njk" import govukDetails %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}Report your salmon or sea trout catch{% endblock %}

{% set licenceErrorMessage = null %}
{% set postcodeErrorMessage = null %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            {% if errors %}
                {% set licenceErrorMessage = 'Enter the last 6 digits of your licence number' %}
                {% set postcodeErrorMessage = 'Enter the postcode with which you applied for your licence' %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                            text: "You have not entered a correct licence number and postcode",
                            href: "#licence"
                        }
                    ]
                }) }}
            {% endif %}

            <h1 class="govuk-heading-xl">
                Sign in
            </h1>

            {% call govukFieldset({
                legend: {
                    html: "Enter your licence details and postcode",
                    classes: "govuk-fieldset__legend--l",
                    isPageHeading: false
                }
            }) %}

                {{ govukInput({
                    label: {
                        text: "Last 6 characters of your licence number"
                    },
                    hint: {
                        text: "For example, B7A718"
                    },
                    id: "licence",
                    name: "licence",
                    errorMessage: licenceErrorMessage,
                    classes: "govuk-input govuk-!-width-one-quarter" })
                }}

                {{ govukInput({
                    label: {
                        text: "UK postcode"
                    },
                    hint: {
                        text: "For example, WA4 1HT"
                    },
                    id: "postcode",
                    name: "postcode",
                    errorMessage: postcodeErrorMessage,
                    classes: "govuk-input govuk-!-width-one-quarter" })
                }}

                {{ govukButton({
                    name: "continue",
                    text: "Continue" })
                }}

                {{ govukDetails({
                    summaryText: "I don't know my licence number",
                    html: "<p>Your licence number can be found on any related correspondence from us.
                            If you can’t find it, call us on 03708 506 506 (open 8am to 6pm, Monday to Friday) or email us at
                            <a href=\"mailto:enquiries@environment-agency.gov.uk\">TODO@environment-agency.gov.uk</a></p>"
                }) }}

            {% endcall %}
            {{ extra() }}
        </form>

    </div>
</div>
{% endblock %}
