{% extends "layout.html" %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-xl">Rod Catch Returns</span> Tell us your licence number and postcode
                </h1>
                <form action="/licence" method="post">
                    <fieldset class="govuk-fieldset">
                        <input type="hidden" name="rcr2018" value="{{rcr2018}}"/>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="licence">Licence</label>
                            <input class="govuk-input" id="licence" name="licence" required>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="postcode">Postcode</label>
                            <input class="govuk-input" id="postcode" name="postcode" required>
                        </div>
                        <div class="govuk-form-group">
                            <button type="submit" class="govuk-button">
                                Continue
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
