{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "details/macro.njk" import govukDetails %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}Fish movements team - Sign in{% endblock %}

{% set licenceErrorMessage = null %}
{% set postcodeErrorMessage = null %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            {% if errors %}
                {% set userErrorMessage = 'Enter your email address' %}
                {% set passwordErrorMessage = 'Enter you password' %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                            text: "You have not entered a correct user details",
                            href: "#user"
                        }
                    ]
                }) }}
            {% endif %}

            <span class="govuk-caption-l">Fish Movements Team</span>
            <h1 class="govuk-heading-l">Sign in</h1>

            {% call govukFieldset({}) %}

                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    hint: {
                        text: "jon.ogroats@environment-agency.gov.uk"
                    },
                    id: "user",
                    name: "user",
                    errorMessage: userErrorMessage,
                    classes: "govuk-input govuk-input--width-20" })
                }}

                {{ govukInput({
                    label: {
                        text: "Password"
                    },
                    id: "password",
                    type: "password",
                    name: "password",
                    errorMessage: passwordErrorMessage,
                    classes: "govuk-input govuk-!-width-one-quarter" })
                }}

                {{ govukButton({
                    name: "continue",
                    text: "Sign in" })
                }}

            {% endcall %}
            {{ extra() }}
        </form>

    </div>
</div>
{% endblock %}
