{% extends "layout.html" %}

{% from "navigation.njk" import navigationHeaderBlock %}
{% from "review.njk" import review %}
{% from "back-link/macro.njk" import govukBackLink %}

{% set title =  "Catch returns for " + fullName + " in " + year %}

{% block pageTitle %}Enter a licence number - GOV.UK{% endblock %}

{% block beforeContent %}
<div class="hide-if-js-disabled">
    {{ super() }}
    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
    }) }}
</div>
{% endblock %}

{% block header %}
    {% if fmt %}
        {{ navigationHeaderBlock('records') }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ title }}</h1>

            <div id="review" class="govuk-!-margin-bottom-9">
                {{ review(activities, catches, smallCatches, true, year, false, false, foundInternal) }}
            </div>

            {{ extra() }}
    </div>
</div>
{% endblock %}
