{% extends "layout.html" %}

{% block pageTitle %}Reports{% endblock %}

{% if fmt %}
    {% block header %}
        {{ headerBlock([
            {
              href: back,
              text: "Catch returns",
              active: false
            },
            {
              href: "/reports?back=/licence",
              text: "Reports",
              active: true
            }
        ]) }}
    {% endblock %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Reports</h1>
    </div>
</div>
{% endblock %}
