{% extends "layout.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "table/macro.njk" import govukTable %}

{% set riverRows = [] %}
{% set salmonAndLargeTroutItems = [] %}
{% set smallCatchItems = [] %}

{% if activities.length %}
    {% for activity in activities %}
        {{ riverRows.push([
            { text: activity.river.name },
            { text: activity.days, format: "numeric" }
        ]) }}
    {% endfor %}
{% else %}
        {{ riverRows.push([
            { text: "None" },
            { text: "0", format: "numeric" }
        ]) }}
{% endif %}

{% if catches.length %}
    {% for fish in catches %}
        {{ salmonAndLargeTroutItems.push([
            { text: fish.activity.river.name },
            { text: fish.dateCaught },
            { text: fish.species.name },
            { text: fish.weight },
            { text: fish.method.name },
            { text: "Yes" if fish.released else "No" }
        ]) }}
    {% endfor %}
{% endif %}

{% if smallCatches.length %}
    {% for catch in smallCatches %}
        {{ smallCatchItems.push([
            { text: catch.month },
            { text: catch.river },
            { text: catch.fly },
            { text: catch.spinner },
            { text: catch.bait },
            { text: catch.released | replace("0", "") }
        ]) }}
    {% endfor %}
{% endif %}

{% set title = "Your catch return report for " + year %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
    {% if not locked %}
        {{ govukBackLink({
            href: "/summary",
            text: "Back"
        }) }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <h1 class="govuk-heading-l">{{ title }}</h1>

            {% if not locked %}
            <p class="govuk-body">If you’ve finished fishing for salmon and sea trout this season, select ‘Submit catch return’. If you plan to fish again for salmon or sea trout this season, select ‘Cancel’ then 'Save as draft'.</p>
            <p class="govuk-body">You can continue to fish for non-migratory trout and freshwater fish as long as your
    licence is valid.</p>            
            {% endif %}

             {{ govukTable({
                caption: "Rivers fished",
                captionClasses: "govuk-heading-m",
                firstCellIsHeader: false,
                head: [
                    { text: "River" },
                    { text: "Total days fished", format: "numeric" }
                ],
                rows: riverRows
             }) }}

             {% if activities.length %}
                {% if smallCatches.length %}
                    {{ govukTable({
                        caption: "Small adult sea trout (1lb and under)",
                        captionClasses: "govuk-heading-m",
                        firstCellIsHeader: false,
                        head: [
                            { text: "Month" },
                            { text: "River" },
                            { text: "Fly" },
                            { text: "Spinner" },
                            { text: "Bait" },
                            { text: "Released" }
                        ],
                        rows: smallCatchItems
                    }) }}
                {% endif %}

                {% if catches.length %}
                    {{ govukTable({
                        caption: "Salmon and large adult sea trout",
                        captionClasses: "govuk-heading-m",
                        firstCellIsHeader: false,
                        head: [
                            { text: "River" },
                            { text: "Date" },
                            { text: "Type" },
                            { text: "Weight" },
                            { text: "Method" },
                            { text: "Released" }
                        ],
                        rows: salmonAndLargeTroutItems
                    }) }}
                {% endif %}
            {% endif %}

            {% if not locked %}
                {{ govukButton({
                    name: "continue",
                    text: "Submit catch return"
                }) }}
            {% endif %}

            {{ extra() }}
        </form>
        {% if not locked %}
            {{ summaryLink() }}
        {% else %}
            <div>
                <a id="print-link" class="govuk-link govuk-body-m" href="#" onclick="window.print();return false;">Print your catch return report</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
