{% extends "layout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "review.njk" import review %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "navigation.njk" import navigationHeaderBlock %}

{% block header %}
    {% if fmt %}
        {{ navigationHeaderBlock('/review') }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% set title = "Your " + year + " catch return report" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post">
            <h1 class="govuk-heading-l">{{ title }}</h1>

            <div id="review" class="govuk-!-margin-bottom-9">
                {{ review(activities, catches, smallCatches, locked, year, fmt, reportingExclude) }}
            </div>

            {% if not locked %}
                {{ govukWarningText({
                    text: "Only submit if you have finished fishing for salmon and sea trout this year.",
                    iconFallbackText: "Warning"
                }) }}

                {{ govukButton({
                    name: "continue",
                    text: "Submit catch return"
                }) }}
            {% else %}
                {% if fmt %}
                    {{ govukButton({
                        name: "unlock",
                        text: "Unlock catch return"
                    }) }}
                {% endif %}
            {% endif %}

            {{ extra() }}
        </form>
        {% if not locked %}
            {% if activities.length %}
                {{ summaryLink() }}
            {% else %}
                <a id="return-summary" class="govuk-link govuk-body-m" href="/did-you-fish">Cancel</a>
            {% endif %}
        {% else %}
            <div>
                <a id="print-link" class="govuk-link govuk-body-m" href="#" onclick="window.print();return false;">Print your catch return report</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
