{% extends "layout.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "table/macro.njk" import govukTable %}

{% set riverRows = [] %}
{% set salmonAndLargeTroutItems = [] %}
{% set smallCatchItems = [] %}

{% if activities.length %}
    {% for activity in activities %}
        {{ riverRows.push([
            { text: activity.river.name },
            { text: activity.days, format: "numeric" }
        ]) }}
    {% endfor %}
{% endif %}

{% if catches.length %}
    {% for fish in catches %}
        {{ salmonAndLargeTroutItems.push([
            { text: fish.activity.river.name },
            { text: fish.dateCaught },
            { text: fish.species.name },
            { text: fish.weight },
            { text: fish.method.name },
            { text: "Yes" if fish.released else "No" }
        ]) }}
    {% endfor %}
{% endif %}

{% if smallCatches.length %}
    {% for catch in smallCatches %}
        {{ smallCatchItems.push([
            { text: catch.month },
            { text: catch.river },
            { text: catch.fly },
            { text: catch.spinner },
            { text: catch.bait },
            { text: catch.released | replace("0", "") }
        ]) }}
    {% endfor %}
{% endif %}

{% set title = "Your catch return report for " + year %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
    {% if not locked %}
        {{ govukBackLink({
            href: "/summary",
            text: "Back"
        }) }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <h1 class="govuk-heading-l">{{ title }}</h1>

            {% if not locked %}
                <p class="govuk-body">
                    Check that your return is accurate, then submit. Once submitted, your return cannot be changed.
                </p>

                <p class="govuk-body">
                    If you need to make changes, select 'Cancel and return to the catch returns report'
                </p>
            {% endif %}

             {{ govukTable({
                caption: "Rivers fished",
                captionClasses: "govuk-heading-m",
                firstCellIsHeader: false,
                head: [
                    { text: "River" },
                    { text: "Days fished in total", format: "numeric" }
                ],
                rows: riverRows
            }) }}

            {% if activities.length %}
                {{ govukTable({
                    caption: "Small sea trout under 1 lb",
                    captionClasses: "govuk-heading-m",
                    firstCellIsHeader: false,
                    head: [
                        { text: "Month" },
                        { text: "River" },
                        { text: "Fly" },
                        { text: "Spinner" },
                        { text: "Bait" },
                        { text: "Released" }
                    ],
                    rows: smallCatchItems
                }) }}

                {{ govukTable({
                    caption: "Salmon and large sea trout caught",
                    captionClasses: "govuk-heading-m",
                    firstCellIsHeader: false,
                    head: [
                        { text: "River" },
                        { text: "Date" },
                        { text: "Type" },
                        { text: "Weight" },
                        { text: "Method" },
                        { text: "Released" }
                    ],
                    rows: salmonAndLargeTroutItems
                }) }}
            {% endif %}

            {% if not locked %}
                {{ govukButton({
                    name: "continue",
                    text: "Submit catch return"
                }) }}
            {% endif %}

            {{ extra() }}
        </form>
        {% if not locked %} {{ summaryLink() }} {% endif %}
    </div>
</div>
{% endblock %}