{% extends "layout.html" %}

{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}
{% from "select/macro.njk" import govukSelect %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "error-message/macro.njk" import govukErrorMessage %}
{% from "navigation.njk" import navigationHeaderBlock %}
{% from "label/macro.njk" import govukLabel %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% block header %}
    {% if fmt %}
        {{ navigationHeaderBlock() }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% set riverItems = [] %}

{% if not payload or not payload.river %}
    {{ riverItems.push({ value: null, text: '', selected: true }) }}
{% endif %}

{% for river in rivers %}
    {{ riverItems.push({
        text: river.name,
        value: river.id,
        selected: river.id.toString() === payload.river
    }) }}
{% endfor %}

{% set typeItems = [] %}
{% for type in types %}
    {{ typeItems.push({
        text: type.name,
        value: type.id,
        checked: type.id === payload.type
    }) }}
{% endfor %}

{% set methodItems = [] %}
{% for method in methods %}
    {{ methodItems.push({
        text: method.name,
        value: method.id,
        checked: method.id === payload.method
    }) }}
{% endfor %}

{% set errorList = [] %}
{% set riverErrorMessage = null %}
{% set dateErrorMessage = null %}
{% set defaultDateErrorMessage = null %}
{% set typeErrorMessage = null %}
{% set systemErrorMessage = null %}
{% set poundsErrorMessage = null %}
{% set ouncesErrorMessage = null %}
{% set kilogramsErrorMessage = null %}
{% set methodErrorMessage = null %}
{% set releasedErrorMessage = null %}

{% if errors %}
    {% for error in errors %}
        {% if error.Catch === 'CATCH_ACTIVITY_REQUIRED' %}
            {% set riverErrorMessage = { text: "Select a river" } %}
            {{ errorList.push({
                text: "You have not selected a river",
                href: "#river"
            }) }}
        {% endif %}

        {% if error.Catch === 'CATCH_DATE_REQUIRED' %}
            {% set dateErrorMessage = { text: "Enter the date you fished" } %}
            {{ errorList.push({
                text: "You have not entered a valid date",
                href: "#day"
            }) }}
        {% endif %}

        {% if error.Catch === 'CATCH_DEFAULT_DATE_REQUIRED' %}
            {% if payload|existsOn("onlyMonthRecorded") and not payload|existsOn("noDateRecorded") %}
                {% set dateErrorMessage = { text: "Enter agreed default day" } %}
                {{ errorList.push({
                    text: "You have not entered a valid default day",
                    href: "#day"
                }) }}
            {% else %}
                {% set dateErrorMessage = { text: "Enter agreed default date" } %}
                {{ errorList.push({
                    text: "You have not entered a valid default date",
                    href: "#day"
                }) }}
            {% endif %}
        {% endif %}

        {% if error.Catch === 'CATCH_NO_DATE_RECORDED_WITH_ONLY_MONTH_RECORDED' %}
            {% set defaultDateErrorMessage = { text: "Select one only" } %}
            {{ errorList.push({
                text: "You cannot select default date recorded and only month recorded",
                href: "#only_month"
            }) }}
        {% endif %}

        {% if error.Catch === 'CATCH_DATE_IN_FUTURE' %}
            {% set dateErrorMessage = { text: "Date caught cannot be in the future" } %}
            {{ errorList.push({
                text: "You have entered a date in the future",
                href: "#day"
            }) }}
        {% endif %}

        {% if error.Catch === 'CATCH_SPECIES_REQUIRED' %}
            {% set typeErrorMessage = { text: "Select the type of fish" } %}
            {{ errorList.push({
                text: "You have not selected the type of fish",
                href: "#type"
            }) }}
        {% endif %}

        {% if error.Catch === 'CATCH_MASS_TYPE_REQUIRED' %}
            {% set systemErrorMessage = { text: "Select either pounds and ounces or kilograms" } %}
            {{ errorList.push({
                text: "You have not selected pounds and ounces or kilograms",
                href: "#system"
            }) }}
        {% endif %}

        {% if error.pounds %}
            {% set poundsErrorMessage = { text: "Enter a valid number of pounds" } %}
            {{ errorList.push({
                text: "You have not entered a valid number of pounds",
                href: "#pounds"
            }) }}
        {% endif %}

        {% if error.ounces %}
            {% set ouncesErrorMessage = { text: "Enter a valid number of ounces" } %}
            {{ errorList.push({
                text: "You have not entered a valid number of ounces",
                href: "#ounces"
            }) }}
        {% endif %}

        {% if error.kilograms %}
            {% set kilogramsErrorMessage = { text: "Enter a valid number of kilograms" } %}
            {{ errorList.push({
                text: "You have not entered a valid number of kilograms",
                href: "#kilograms"
            }) }}
        {% endif %}

        {% if error.Catch === 'CATCH_METHOD_REQUIRED' %}
            {% set methodErrorMessage = { text: "Select a method" } %}
            {{ errorList.push({
                text: "You have not selected a method",
                href: "#method"
            }) }}
        {% endif %}

        {% if error.Catch === 'CATCH_RELEASED_REQUIRED' %}
            {% set releasedErrorMessage = { text: "Select yes or no" } %}
            {{ errorList.push({
                text: "You have not told us whether you released this fish",
                href: "#released"
            }) }}
        {% endif %}

        {% if error.Catch === 'CATCH_MASS_MAX_EXCEEDED' %}
            {% set systemErrorMessage = { text: "Enter a weight less than 50kg (110lbs)" } %}
            {{ errorList.push({
                text: "You have not entered a valid weight",
                href: "#system"
            }) }}
        {% endif %}

        {% if error.Catch === 'CATCH_MASS_BELOW_MINIMUM' %}
            {% set systemErrorMessage = { text: "Enter a weight greater than 0" } %}
            {{ errorList.push({
                text: "You have not entered a valid weight",
                href: "#system"
            }) }}
        {% endif %}

        {% if error.Catch === 'CATCH_MASS_KG_REQUIRED' or error.Catch === 'CATCH_MASS_OZ_REQUIRED' %}
            {% set systemErrorMessage = { text: "Enter a valid weight" } %}
            {{ errorList.push({
                text: "You have not entered a weight for this fish",
                href: "#system"
            }) }}
        {% endif %}

    {% endfor %}
{% endif %}

{% set imperialWeight %}
    <div class="govuk-date-input__item govuk-!-margin-bottom-5">
        {{ govukInput({
            id: "pounds",
            name: "pounds",
            attributes: { maxlength: 3 },
            classes: "govuk-input--width-3",
            value: payload.pounds,
            errorMessage: poundsErrorMessage,
            label: {
                text: "Pounds"
            }
        }) }}
    </div>

    <div class="govuk-date-input__item govuk-!-margin-bottom-5">
        {{ govukInput({
            id: "ounces",
            name: "ounces",
            attributes: { maxlength: 2 },
            classes: "govuk-input--width-2",
            value: payload.ounces,
            errorMessage: ouncesErrorMessage,
            label: {
                text: "Ounces"
            }
        }) }}
    </div>
{% endset -%}

{% set metricWeight %}
    {{ govukInput({
        id: "kilograms",
        name: "kilograms",
        value: payload.kilograms,
        classes: "govuk-input--width-5",
        attributes: { maxlength: 5 },
        errorMessage: kilogramsErrorMessage,
        label: {
            text: "Kilograms"
        }
    }) }}
{% endset -%}

{% block pageTitle %}{% if add %}Add{% else %}Edit{% endif %} a salmon or large adult sea trout {{ suffix }} - GOV.UK{% endblock %}

{% if rivers.length === 1 %}
    {% set suffix = "caught on river " + rivers[0].name %}
{% else %}
    {% set suffix = "" %}
{% endif %}

{% if add %}
    {% set leg = '<h1 class="govuk-heading-l">Add a salmon or large adult sea trout ' + suffix + '</h1>' %}
{% else %}
    {% set leg = '<h1 class="govuk-heading-l">Edit a salmon or large adult sea trout ' + suffix + '</h1>' %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" action="#">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorList
                }) }}
            {% endif %}

            {% call govukFieldset({
                legend: { html: leg },
                isPageHeading: true
            }) %}

                {% if rivers.length > 1 %}
                    {{ govukSelect({
                        id: "river",
                        name: "river",
                        label: {
                            text: "River"
                        },
                        fieldset: {
                            legend: {
                                text: "River",
                                isPageHeading: false,
                                classes: "govuk-fieldset__legend govuk-!-font-weight-bold"
                            }
                        },
                        items: riverItems,
                        errorMessage: riverErrorMessage
                    }) }}
                {% else %}
                    <input type="hidden" id="river" name="river" value="{{ rivers[0].id }}"/>
                {% endif %}

                {% call govukFieldset({
                    legend: {
                    html: '<span class="govuk-label govuk-!-font-weight-bold">Date caught</span><span id="date-hint" class="govuk-hint">For example, 24 6</span>'
                    }
                }) %}

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <div {% if dateErrorMessage %} class="govuk-form-group govuk-form-group--error" {% else %} class="govuk-form-group" {% endif %}>
                                {% if dateErrorMessage %}
                                    <span id="date-error" class="govuk-error-message">
                                        {{ dateErrorMessage.text }}
                                    </span>
                                {% endif %}

                                <div class="govuk-date-input__item">
                                    {{ govukInput({
                                        id: "day",
                                        name: "day",
                                        label: {
                                            text: "Day",
                                            classes: "govuk-date-input__label"
                                        },
                                        type: "text",
                                        value: payload.day,
                                        attributes: { maxlength: 2 },
                                        classes:  "govuk-input--width-2 govuk-input--error" if dateErrorMessage else "govuk-input--width-2"
                                    }) }}
                                </div>

                                <div class="govuk-date-input__item">
                                    {{ govukInput({
                                        id: "month",
                                        name: "month",
                                        label: {
                                            text: "Month",
                                            classes: "govuk-date-input__label"
                                        },
                                        type: "text",
                                        value: payload.month,
                                        attributes: { maxlength: 2 },
                                        classes: "govuk-input--width-2 govuk-input--error" if dateErrorMessage else "govuk-input--width-2"
                                    }) }}
                                </div>
                            </div>
                        </div>

                        <div class="govuk-grid-column-one-half">
                            {% if fmt %}
                                <div {% if defaultDateErrorMessage %} class="govuk-form-group govuk-form-group--error" {% else %} class="govuk-form-group" {% endif %}>
                                    {% if defaultDateErrorMessage %}
                                        <span id="default-date-error" class="govuk-error-message">
                                            {{ defaultDateErrorMessage.text }}
                                        </span>
                                    {% endif %}
                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox" id="no_date" name="noDateRecorded" value="{{ payload.noDateRecorded }}" {% if payload|existsOn("noDateRecorded") %}checked="checked"{% endif %}>
                                            <label class="govuk-label govuk-checkboxes__label" for="no_date">No date recorded</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox" id="only_month" name="onlyMonthRecorded" value="{{ payload.onlyMonthRecorded }}" {% if  payload|existsOn("onlyMonthRecorded") %}checked="checked"{% endif %}>
                                            <label class="govuk-label govuk-checkboxes__label" for="only_month">Only month recorded</label>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                {% endcall %}

                {{ govukRadios({
                    idPrefix: "type",
                    name: "type",
                    fieldset: {
                        legend: {
                            text: "Type of fish",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend govuk-!-font-weight-bold"
                        }
                    },
                    classes: "govuk-radios--inline",
                    items: typeItems,
                    errorMessage: typeErrorMessage
                }) }}

                {{ govukRadios({
                    idPrefix: "system",
                    name: "system",
                    fieldset: {
                        legend: {
                            text: "Weight of fish",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend govuk-!-font-weight-bold"
                        }
                    },
                    items: [
                        {
                            text: "In pounds and ounces",
                            value: "IMPERIAL",
                            conditional: { html: imperialWeight },
                            checked: payload.system === "IMPERIAL"
                        },
                        {
                            text: "In kilograms",
                            value: "METRIC",
                            conditional: { html: metricWeight },
                            checked: payload.system === "METRIC"
                        }
                    ],
                    errorMessage: systemErrorMessage
                }) }}

                {{ govukRadios({
                    idPrefix: "method",
                    name: "method",
                    fieldset: {
                        legend: {
                            text: "Method",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend govuk-!-font-weight-bold"
                        }
                    },
                    classes: "govuk-radios--inline",
                    items: methodItems,
                    errorMessage: methodErrorMessage
                }) }}

                {{ govukRadios({
                    idPrefix: "released",
                    name: "released",
                    fieldset: {
                        legend: {
                            text: "Released",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend govuk-!-font-weight-bold"
                        }
                    },
                    items:[
                        {
                            text: "Yes",
                            value: true,
                            checked: payload.released === 'true'
                        },
                        {
                            text: "No",
                            value: false,
                            checked: payload.released === 'false'
                        }
                    ],
                    classes: "govuk-radios--inline govuk-!-margin-bottom-6",
                    errorMessage: releasedErrorMessage
                }) }}

                {{ govukButton({
                    name: "continue",
                    text: "Save",
                    classes: "govuk-!-margin-right-1",
                    attributes: { onclick: "var e=this;setTimeout(function(){e.disabled=true;},0);return true;" }
                }) }}

                {% if add %}
                    {{ govukButton({
                        name: "add",
                        text: "Save and add another",
                        classes: "govuk-button--secondary",
                        attributes: { onclick: "var e=this;setTimeout(function(){e.disabled=true;},0);return true;" }
                    }) }}
                {% endif %}
            {% endcall %}
            {{ extra() }}

        </form>
        {{ summaryLink() }}
    </div>
</div>
{% endblock %}