{% extends "layout.html" %}

{% block pageTitle %}Your draft catch return has been saved - GOV.UK{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your draft catch return has been saved</h1>
        <p class="govuk-body">Please return to complete your catch return by 31 December</p>
        <div>
            <label type="hidden" id="pgid" name="pgid" value="{{pgid}}"/>
        </div>
    </div>
</div>
{% endblock %}
