{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You draft catch return has been saved</h1>
        <p class="govuk-body">Please return to complete it by 31 December</p>
        <div>
            <a id="continue" class="govuk-link govuk-body-m" href="/">Return to licence page</a>
            <label type="hidden" id="pgid" name="pgid" value="{{pgid}}"/>
        </div>
    </div>
</div>
{% endblock %}
