{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "navigation.njk" import navigationHeaderBlock %}
{% from "format-page-title.njk" import formatPageTitle %}

{% block header %}
    {% if fmt %}
        {{ navigationHeaderBlock() }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block pageTitle %}{{ formatPageTitle('Which season does your catch return cover?') }}{% endblock %}

{% if errors %}
    {% set errorMessage = { text: "Tell us which season you are submitting a catch return for" } %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" action="#">

            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                          text: "You have not selected a season for the return",
                          href: "#year"
                        }
                    ]
                }) }}
            {% endif %}

            {% call govukFieldset({
                legend: {
                    html: '<span class="govuk-heading-l">Which season does your catch return cover?</span>',
                    isPageHeading: true
                }
            }) %}

                {{ govukRadios({
                    idPrefix: "year",
                    name: "year",
                    items: years,
                    errorMessage: errorMessage
                }) }}

                {{ govukButton({
                    name: "continue",
                    text: "Continue"
                }) }}

            {% endcall %}
            {{ extra() }}
        </form>
    </div>
</div>
{% endblock %}
