{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
    {{ govukBackLink({
        href: "/licence",
        text: "Back"
    }) }}
{% endblock %}

{% block pageTitle %}What season are you reporting for?{% endblock %}

{% if errors %}
    {% set errorMessage = { text: "Tell us which season you are submitting a catch return for" } %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                          text: "You have not selected a season for the return",
                          href: "#year"
                        }
                    ]
                }) }}
            {% endif %}

            {% call govukFieldset({
              legend: {
                text: "Which season does your catch return cover?",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

                {{ govukRadios({
                    idPrefix: "year",
                    name: "year",
                    items: years,
                    errorMessage: errorMessage
                }) }}

                {{ govukButton({
                    name: "continue",
                    text: "Continue"
                }) }}

            {% endcall %}
            {{ extra() }}
        </form>
    </div>
</div>
{% endblock %}
