{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}
{% from "input/macro.njk" import govukInput %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "select/macro.njk" import govukSelect %}

{% set riverItems = [] %}

{% if not payload or not payload.river %}
    {{ riverItems.push(null) }}
{% endif %}

{% for river in rivers %}
    {{ riverItems.push({
        text: river.name,
        value: river.id,
        selected: river.id.toString() === payload.river
    }) }}
{% endfor %}

{% set monthItems = [] %}

{% if not payload or not payload.month %}
    {{ monthItems.push(null) }}
{% endif %}

{% for month in months %}
    {{ monthItems.push({
        text: month.text,
        value: month.value,
        selected: month.value === payload.month
    }) }}
{% endfor %}

{% set errorList = [] %}
{% set riverErrorMessage = null %}
{% set releasedErrorMessage = null %}
{% set monthsErrorMessage = null %}
{% set flyErrorMessage = null %}
{% set spinnerErrorMessage = null %}
{% set baitErrorMessage = null %}

{% if errors %}
    {% for error in errors %}
        {% if error.river %}
            {% set riverErrorMessage = { text: "Select a river" } %}
            {{ errorList.push({
                text: "You have not selected a river",
                href: "#river-1"
            }) }}
        {% endif %}

        {% if error.months %}
            {% set monthsErrorMessage = { text: "Select the month your caught the fish" } %}
            {{ errorList.push({
                text: "You have not selected a month",
                href: "#month-1"
            }) }}
        {% endif %}

        {% if error.released %}
            {% set releasedErrorMessage = { text: "Enter the number of small fish released back into the water" } %}
            {{ errorList.push({
                text: "You have not entered a valid number for how many small fish you released back into the river",
                href: "#released"
            }) }}
        {% endif %}

        <!--Shame you cannot do arbitrary object assignment out of the box in nunjunks-->
        {% if error.fly %}
            {% set flyErrorMessage = { text: "Enter the number of small fish caught using a fly" } %}
            {{ errorList.push({
                text: "You have not entered a valid number for how many fish you caught using the fly",
                href: "#fly"
            }) }}
        {% endif %}

        {% if error.spinner %}
            {% set spinnerErrorMessage = { text: "Enter the number of small fish caught using a spinner" } %}
            {{ errorList.push({
                text: "You have not entered a valid number for how many fish you caught using the spinner",
                href: "#spinner"
            }) }}
        {% endif %}

        {% if error.bait %}
            {% set baitErrorMessage = { text: "Enter the number of small fish caught using a bait" } %}
            {{ errorList.push({
                text: "You have not entered a valid number for how many fish you caught using the bait",
                href: "#bait"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_RELEASED_MORE_THAN_CAUGHT' %}
            {% set releasedErrorMessage = { text: "Enter the number of small fish released back into the water" } %}
            {{ errorList.push({
                text: "You have released more fish than you have caught",
                href: "#fly"
            }) }}
        {% endif %}

    {% endfor %}
{% endif %}

{% block beforeContent %}
    {{ govukBackLink({
        href: "/summary",
        text: "Back"
    }) }}
{% endblock %}

{% block pageTitle %}Monthly details of the small fish you caught weighing under 1 lb{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorList
                }) }}
            {% endif %}

            {% call govukFieldset({
              legend: {
                text: "Monthly details of the small fish you caught weighing under 1 lb",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

                {% if rivers.length > 1 %}
                    {{ govukSelect({
                        idPrefix: "river",
                        name: "river",
                        fieldset: {
                            legend: {
                                text: "River",
                                isPageHeading: false,
                                classes: "govuk-fieldset__legend govuk-!-font-weight-bold"
                            }
                        },
                        items: riverItems,
                        errorMessage: riverErrorMessage
                    }) }}
                {% else %}
                    <p class="govuk-body-l">River {{ rivers[0].name }}</p>
                    <input type="hidden" id="river" name="river" value="{{ rivers[0].id }}"/>
                {% endif %}

                {{ govukSelect({
                    idPrefix: "month",
                    name: "month",
                    hint: { text: "Click below to select the month of your small catch" },
                    fieldset: {
                        legend: {
                            text: "Month the fish were caught",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend govuk-!-font-weight-bold"
                        }
                    },
                    items: monthItems,
                    errorMessage: monthsErrorMessage
                }) }}

                {{ govukInput({
                    id: "fly",
                    name: "fly",
                    hint: { text: "Enter the number of small fish caught using the fly" },
                    label: {
                        text: "Fly"
                    },
                    value: payload.fly,
                    attributes: { maxlength: 4 },
                    classes: "govuk-input--width-4",
                    errorMessage: flyErrorMessage
                }) }}

                {{ govukInput({
                    id: "spinner",
                    name: "spinner",
                    hint: { text: "Enter the number of small fish caught using the spinner" },
                    label: {
                        text: "Spinner"
                    },
                    value: payload.spinner,
                    attributes: { maxlength: 4 },
                    classes: "govuk-input--width-4",
                    errorMessage: spinnerErrorMessage
                }) }}

                {{ govukInput({
                    id: "bait",
                    name: "bait",
                    hint: { text: "Enter the number of small fish caught using the bait" },
                    label: {
                        text: "Bait"
                    },
                    value: payload.bait,
                    attributes: { maxlength: 4 },
                    classes: "govuk-input--width-4",
                    errorMessage: baitErrorMessage
                }) }}

                {{ govukInput({
                    id: "released",
                    name: "released",
                    hint: { text: "Enter the number of small fish released back into the water" },
                    label: {
                        text: "Number released"
                    },
                    value: payload.released,
                    attributes: { maxlength: 4 },
                    classes: "govuk-input--width-4",
                    errorMessage: releasedErrorMessage
                }) }}

                {{ govukButton({
                    name: "continue",
                    text: "Continue"
                }) }}

            {% endcall %}
            {{ extra() }}
        </form>
        {{ summaryLink() }}
    </div>
</div>

{% endblock %}