{% extends "layout.html" %}

{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}
{% from "input/macro.njk" import govukInput %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "select/macro.njk" import govukSelect %}
{% from "navigation.njk" import navigationHeaderBlock %}
{% from "label/macro.njk" import govukLabel %}

{% block header %}
    {% if fmt %}
        {{ navigationHeaderBlock() }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% set riverItems = [] %}

{% if not payload or not payload.river %}
    {{ riverItems.push(null) }}
{% endif %}

{% for river in rivers %}
    {{ riverItems.push({
        text: river.name,
        value: river.id,
        selected: river.id.toString() === payload.river
    }) }}
{% endfor %}

{% set errorList = [] %}
{% set riverErrorMessage = null %}
{% set releasedErrorMessage = null %}
{% set monthsErrorMessage = null %}
{% set flyErrorMessage = null %}
{% set spinnerErrorMessage = null %}
{% set baitErrorMessage = null %}
{% set unknownErrorMessage = null %}

{% if errors %}
    {% for error in errors %}
        {% if error.SmallCatch === 'SMALL_CATCH_ACTIVITY_REQUIRED' %}
            {% set riverErrorMessage = { text: "Select a river" } %}
            {{ errorList.push({
                text: "You have not selected a river",
                href: "#river"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_MONTH_REQUIRED' %}
            {% set monthsErrorMessage = { text: "Enter the month you fished" } %}
            {{ errorList.push({
                text: "You have not entered a valid month",
                href: "#month"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_MONTH_IN_FUTURE' %}
            {% set monthsErrorMessage = { text: "Month caught cannot be in the future" } %}
            {{ errorList.push({
                text: "You have entered a month in the future",
                href: "#month"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_COUNTS_REQUIRED' %}
            {{ errorList.push({
                text: "You have not entered the number of fish caught",
                href: "#fly"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_FLY_COUNT_NOT_GREATER_THAN_ZERO' %}
            {% set flyErrorMessage = { text: "Enter the number caught with a fly" } %}
            {{ errorList.push({
                text: "The number caught with a fly must be greater than zero",
                href: "#fly"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_SPINNER_COUNT_NOT_GREATER_THAN_ZERO' %}
            {% set spinnerErrorMessage = { text: "Enter the number caught with a spinner" } %}
            {{ errorList.push({
                text: "The number caught with a spinner must be greater than zero",
                href: "#spinner"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_BAIT_COUNT_NOT_GREATER_THAN_ZERO' %}
            {% set baitErrorMessage = { text: "Enter the number caught with bait" } %}
            {{ errorList.push({
                text: "The number caught with bait must be greater than zero",
                href: "#bait"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_UNKNOWN_COUNT_NOT_GREATER_THAN_ZERO' %}
            {% set unknownErrorMessage = { text: "Enter the number caught by an unknown method" } %}
            {{ errorList.push({
                text: "The number caught with an unknown must be greater than zero",
                href: "#unknown"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_FLY_COUNT_INVALID' %}
            {% set flyErrorMessage = { text: "Enter the number caught with a fly" } %}
            {{ errorList.push({
                text: "The number of fish caught using a fly is not a valid number",
                href: "#fly"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_SPINNER_COUNT_INVALID' %}
            {% set spinnerErrorMessage = { text: "Enter the number caught with a spinner" } %}
            {{ errorList.push({
                text: "The number of fish caught using a spinner is not a valid number",
                href: "#spinner"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_BAIT_COUNT_INVALID' %}
            {% set baitErrorMessage = { text: "Enter the number caught with a bait" } %}
            {{ errorList.push({
                text: "The number of fish caught using a bait is not a valid number",
                href: "#bait"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_UNKNOWN_COUNT_INVALID' %}
            {% set unknownErrorMessage = { text: "Enter the number caught by an unknown method" } %}
            {{ errorList.push({
                text: "The number of fish caught using an unknown method is not a valid number",
                href: "#unknown"
            }) }}
        {% endif %}

        {% if error.released %}
            {% set releasedErrorMessage = { text: "Enter the number of fish released back into the water" } %}
            {{ errorList.push({
                text: "You have not entered a valid number of fish released back into the water",
                href: "#released"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_RELEASED_EXCEEDS_COUNTS' %}
            {% set releasedErrorMessage = { text: "The number of fish released cannot exceed the number of fish caught" } %}
            {{ errorList.push({
                text: "You have released more fish than you have caught",
                href: "#released"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_DUPLICATE_FOUND' %}
            {% set riverErrorMessage = { text: "Select a river" } %}
            {% set monthsErrorMessage = { text: "Select the month your caught the fish" } %}
            {{ errorList.push({
                text: "You have already added a catch for this river and this month - choose a different river or month",
                href: "#river"
            }) }}
        {% endif %}

        {% if error.SmallCatch === 'SMALL_CATCH_RELEASED_NEGATIVE' %}
            {% set releasedErrorMessage = { text: "The number released must be 0 or above" } %}
            {{ errorList.push({
                text: "You have not entered a valid number of fish released",
                href: "#released"
            }) }}
        {% endif %}

    {% endfor %}
{% endif %}

{% block pageTitle %}{% if add %}Add{% else %}Edit{% endif %} a small adult sea trout catch {{ suffix }} - GOV.UK{% endblock %}

{% if rivers.length === 1 %}
    {% set suffix = "caught on river " + rivers[0].name %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorList
                }) }}
            {% endif %}

            {% if add %}
                <h1 class="govuk-heading-l">Add a small adult sea trout catch {{ suffix }}</h1><p class="govuk-body-l">Add details of small adult sea trout (1lb and under) catches by month</p>
            {% else %}
                <h1 class="govuk-heading-l">Edit a small adult sea trout catch {{ suffix }}</h1>
            {% endif %}

            {% call govukFieldset({}) %}

                {% if rivers.length > 1 %}
                    {{ govukSelect({
                        id: "river",
                        name: "river",
                        label: {
                            text: "River",
                            classes: "govuk-!-font-weight-bold"
                        },
                        fieldset: {
                            legend: {
                                text: "River",
                                isPageHeading: false,
                                classes: "govuk-fieldset__legend govuk-!-font-weight-bold"
                            }
                        },
                        items: riverItems,
                        errorMessage: riverErrorMessage
                    }) }}
                {% else %}
                    <input type="hidden" id="river" name="river" value="{{ rivers[0].id }}"/>
                {% endif %}

                <label class="govuk-label govuk-!-font-weight-bold">Month caught</label>
                <span id="fly-hint" class="govuk-hint">For example, 6</span>

                {% if monthsErrorMessage %}
                <div class="govuk-form-group govuk-form-group--error">
                        <span id="month-error" class="govuk-error-message">
                            {{ monthsErrorMessage.text }}
                        </span>
                {% endif %}

                <div class="govuk-date-input--inline">
                    <div class="govuk-date-input__item">
                        {{ govukInput({
                            id: "month",
                            name: "month",
                            label: {
                                text: "Month",
                                classes: "govuk-date-input__label"
                            },
                            type: "text",
                            value: payload.month,
                            attributes: { maxlength: 2, pattern: "[0-9]*" },
                            classes: "govuk-input--width-2 govuk-input--error" if monthsErrorMessage else "govuk-input--width-2"
                        }) }}
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            {{ govukLabel({
                                text: "Year",
                                classes: "govuk-date-input__label",
                                for: "year"
                            }) }}
                            <input id="year" disabled aria-disabled="true" class="govuk-input date-disabled govuk-input--width-4" value="{{ details.year }}"/>
                        </div>
                    </div>
                </div>

                {% if fmt %}
                    <div class="rcr-default-date--single">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" id="no_month" name="{{ name }}" value="{{ id }}">
                                <label class="govuk-label govuk-checkboxes__label" for="no_month">No month recorded</label>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if monthsErrorMessage %}
                </div>
                {% endif %}

                {% if errors %}{% for error in errors %}{% if error.SmallCatch === 'SMALL_CATCH_COUNTS_REQUIRED' %}
                <div class="govuk-form-group govuk-form-group--error">
                    <span id="fly-error" class="govuk-error-message">
                        Total number caught must be greater than 0
                    </span>
                {% endif %}{% endfor %}{% endif %}

                {{ govukInput({
                    id: "fly",
                    name: "fly",
                    hint: { text: "Number of fish caught with a fly" },
                    label: {
                        text: "Fly",
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: payload.fly,
                    attributes: { maxlength: 4 },
                    classes: "govuk-input--width-4",
                    errorMessage: flyErrorMessage
                }) }}

                {{ govukInput({
                    id: "spinner",
                    name: "spinner",
                    hint: { text: "Number of fish caught with a spinner" },
                    label: {
                        text: "Spinner",
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: payload.spinner,
                    attributes: { maxlength: 4 },
                    classes: "govuk-input--width-4",
                    errorMessage: spinnerErrorMessage
                }) }}

                {{ govukInput({
                    id: "bait",
                    name: "bait",
                    hint: { text: "Number of fish caught with bait" },
                    label: {
                        text: "Bait",
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: payload.bait,
                    attributes: { maxlength: 4 },
                    classes: "govuk-input--width-4",
                    errorMessage: baitErrorMessage
                }) }}

                {% if fmt %}
                    {{ govukInput({
                        id: "unknown",
                        name: "unknown",
                        hint: { text: "Number of fish caught using an unknown method" },
                        label: {
                            text: "Unknown",
                            classes: "govuk-!-font-weight-bold"
                        },
                        value: payload.unknown,
                        attributes: { maxlength: 4 },
                        classes: "govuk-input--width-4",
                        errorMessage: unknownErrorMessage
                    }) }}
                {% endif %}

                {% if errors %}{% for error in errors %}{% if error.SmallCatch === 'SMALL_CATCH_COUNTS_REQUIRED' %}
                </div>
                {% endif %}{% endfor %}{% endif %}

                {{ govukInput({
                    id: "released",
                    name: "released",
                    hint: { text: "Number of fish released back into the water" },
                    label: {
                        text: "Released",
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: payload.released,
                    attributes: { maxlength: 4 },
                    classes: "govuk-input--width-4 govuk-!-margin-bottom-6",
                    errorMessage: releasedErrorMessage
                }) }}

                {{ govukButton({
                    name: "continue",
                    text: "Save",
                    classes: "govuk-!-margin-right-1",
                    attributes: { onclick: "var e=this;setTimeout(function(){e.disabled=true;},0);return true;" }
                }) }}

                {% if add %}
                    {{ govukButton({
                        name: "add",
                        text: "Save and add another",
                        classes: "govuk-button--secondary",
                        attributes: { onclick: "var e=this;setTimeout(function(){e.disabled=true;},0);return true;" }
                    }) }}
                {% endif %}
            {% endcall %}
            {{ extra() }}
        </form>
        {{ summaryLink() }}
    </div>
</div>

{% endblock %}
