{% extends "layout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "table/macro.njk" import govukTable %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "navigation.njk" import navigationHeaderBlock %}
{% from "govuk-table-grouped.njk" import govukTableGrouped %}

{% block header %}
    {% if fmt %}
        {{ navigationHeaderBlock() }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block pageTitle %}Your {{ year }} catch return - GOV.UK{% endblock %}

{% set riverRows = [] %}
{% set salmonAndLargeTroutItems = [] %}
{% set smallCatchItems = [] %}

{% macro renderLinks(id, desc) %}
    {% set editurl = id %}
    {% set deleteurl = "/delete/" + id %}
<!--suppress ALL -->
<span><a id="edit-{{ id }}" class="govuk-link" href="{{ editurl }}">Change<span class="govuk-visually-hidden">&nbsp;{{ desc }}</span></a>&nbsp;&#x7c;&nbsp;<a id="delete-{{ id }}" class="govuk-link" href="{{ deleteurl }}">Delete<span class="govuk-visually-hidden">&nbsp;{{ desc }}</span></a></span>
{% endmacro %}

{% macro renderChange(id, desc) %}
    {% set url = id %}
    <!--suppress ALL -->
    <span><a id="edit-{{ id }}" class="govuk-link" href="{{ url }}">Change<span class="govuk-visually-hidden">&nbsp;{{ desc }}</span></a></span>
{% endmacro %}

{% macro renderDelete(id, desc) %}
    {% set url = "/delete/" + id %}
    <!--suppress ALL -->
    <span><a id="delete-{{ id }}" class="govuk-link" href="{{ url }}">Delete<span class="govuk-visually-hidden">&nbsp;{{ desc }}</span></a></span>
{% endmacro %}

{% macro renderCheck(id, name, checked, desc) %}
<div class="govuk-checkboxes govuk-checkboxes--small">
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="exclude-{{ id }}" name="{{ name }}" value="{{ id }}" {% if checked %}checked="checked"{% endif %}>
        <label class="govuk-label govuk-checkboxes__label" for="exclude-{{ id }}"><span class="govuk-visually-hidden">Exclude {{ desc }}</span></label>
    </div>
</div>
{% endmacro %}

{%
    set activityTableHeadings = {
        river: "River",
        daysFishedMandatory: "Days fished (1 Jan-16 Jun)",
        daysFishedOther: "Days fished (17 Jun-31 Dec)",
        change: "Change",
        delete: "Delete"
    }
%}

{% if activities.length %}
    {% for activity in activities %}
        {{ riverRows.push([
            { text: activity.river.name, attributes: { 'data-label': activityTableHeadings.river} },
            { text: activity.daysFishedWithMandatoryRelease, format: "numeric", attributes: { 'data-label': activityTableHeadings.daysFishedMandatory} },
            { text: activity.daysFishedOther, format: "numeric", attributes: { 'data-label': activityTableHeadings.daysFishedOther} },
            { html: renderChange(activity.id + '/clear', 'river ' + activity.river.name), format: "numeric", attributes: { 'data-label': activityTableHeadings.change} },
            { html: renderDelete(activity.id, 'river ' + activity.river.name), format: "numeric", attributes: { 'data-label': activityTableHeadings.delete} }
        ]) }}
    {% endfor %}
{% endif %}

{% if fmt %}
    {% set largeCatchHeader = [
        { text: "Date" },
        { text: "River" },
        { text: "Type" },
        { text: "Weight" },
        { text: "Method" },
        { text: "Released" },
        { text: "Change", format: "numeric" },
        { text: "Delete", format: "numeric" },
        { text: "Exclude", format: "numeric" }
    ] %}
{% else %}
    {% set largeCatchHeader = [
        { text: "Date" },
        { text: "River" },
        { text: "Type" },
        { text: "Weight" },
        { text: "Method" },
        { text: "Released" },
        { text: "Change", format: "numeric" },
        { text: "Delete", format: "numeric" }
    ] %}
{% endif %}

{% if catches.length %}
    {% for fish in catches %}
        {% set desc = 'Salmon and large adult sea trout, for ' + fish.dateCaught + ' on ' + fish.activity.river.name %}
        {% if fmt %}
            {{ salmonAndLargeTroutItems.push([
                { text: fish.dateCaught + (' * ' if fish.onlyMonthRecorded or fish.noDateRecorded else ''), rowspan: fish.rowspan, hide: fish.hide, attributes: { 'data-label': largeCatchHeader[0].text} },
                { text: fish.activity.river.name, hide: fish.riverHide, rowspan: fish.riverRowspan, attributes: { 'data-label': largeCatchHeader[1].text} },
                { text: fish.species.name, attributes: { 'data-label': largeCatchHeader[2].text} },
                { text: fish.weight, attributes: { 'data-label': largeCatchHeader[3].text} },
                { text: fish.method.name, attributes: { 'data-label': largeCatchHeader[4].text} },
                { text: "Yes" if fish.released else "No", attributes: { 'data-label': largeCatchHeader[5].text} },
                { html: renderChange(fish.id + '/clear', desc), format: "numeric", attributes: { 'data-label': largeCatchHeader[6].text}  },
                { html: renderDelete(fish.id, desc), format: "numeric", attributes: { 'data-label': largeCatchHeader[7].text}  },
                { html: renderCheck(fish.id, "exclude-catch", fish.reportingExclude, desc), format: "numeric", attributes: { 'data-label': largeCatchHeader[8].text}  }
            ]) }}
        {% else %}
            {{ salmonAndLargeTroutItems.push([
                { text: fish.dateCaught, hide: fish.hide, rowspan: fish.rowspan, attributes: { 'data-label': largeCatchHeader[0].text} },
                { text: fish.activity.river.name, hide: fish.riverHide, rowspan: fish.riverRowspan, attributes: { 'data-label': largeCatchHeader[1].text} },
                { text: fish.species.name, attributes: { 'data-label': largeCatchHeader[2].text} },
                { text: fish.weight, attributes: { 'data-label': largeCatchHeader[3].text} },
                { text: fish.method.name, attributes: { 'data-label': largeCatchHeader[4].text} },
                { text: "Yes" if fish.released else "No", attributes: { 'data-label': largeCatchHeader[5].text} },
                { html: renderChange(fish.id + '/clear', desc), format: "numeric", attributes: { 'data-label': largeCatchHeader[6].text}  },
                { html: renderDelete(fish.id, desc), format: "numeric", attributes: { 'data-label': largeCatchHeader[7].text}  }
            ]) }}
        {% endif %}
    {% endfor %}
{% endif %}

{% if fmt %}
    {% set smallCatchHeader = [
        { text: "Month" },
        { text: "River" },
        { text: "Fly", format: "numeric" },
        { text: "Spinner", format: "numeric" },
        { text: "Bait", format: "numeric" },
        { text: "Unknown", format: "numeric" },
        { text: "Released", format: "numeric" },
        { text: "Change", format: "numeric" },
        { text: "Delete", format: "numeric" },
        { text: "Exclude", format: "numeric"  }
    ] %}
{% else %}
    {% if foundInternal %}
        {% set smallCatchHeader = [
            { text: "Month" },
            { text: "River" },
            { text: "Fly", format: "numeric" },
            { text: "Spinner", format: "numeric" },
            { text: "Bait", format: "numeric" },
            { text: "Unknown", format: "numeric" },
            { text: "Released", format: "numeric" },
            { text: "Change", format: "numeric" },
            { text: "Delete", format: "numeric" }
        ] %}
    {% else %}
        {% set smallCatchHeader = [
            { text: "Month" },
            { text: "River" },
            { text: "Fly", format: "numeric" },
            { text: "Spinner", format: "numeric" },
            { text: "Bait", format: "numeric" },
            { text: "Released", format: "numeric" },
            { text: "Change", format: "numeric" },
            { text: "Delete", format: "numeric" }
        ] %}
    {% endif %}
{% endif %}

{% if smallCatches.length %}
    {% for catch in smallCatches %}
        {% set desc = 'Small adult sea trout, for ' + catch.month + ' on ' + catch.river %}
        {% if fmt %}
            {{ smallCatchItems.push([
                { text: catch.month + (' * ' if catch.noMonthRecorded else ''), rowspan: catch.rowspan, hide: catch.hide, attributes: { 'data-label': smallCatchHeader[0].text} },
                { text: catch.river, attributes: { 'data-label': smallCatchHeader[1].text} },
                { text: catch.fly or 0, format: "numeric", attributes: { 'data-label': smallCatchHeader[2].text} },
                { text: catch.spinner or 0, format: "numeric", attributes: { 'data-label': smallCatchHeader[3].text} },
                { text: catch.bait or 0, format: "numeric", attributes: { 'data-label': smallCatchHeader[4].text} },
                { text: catch.unknown or 0, format: "numeric", attributes: { 'data-label': smallCatchHeader[5].text} },
                { text: catch.released, format: "numeric", attributes: { 'data-label': smallCatchHeader[6].text} },
                { html: renderChange((catch.id  + '/clear') | replace("smallCatches", "small-catches"), desc), format: "numeric", attributes: { 'data-label': smallCatchHeader[7].text} },
                { html: renderDelete(catch.id | replace("smallCatches", "small-catches"), desc), format: "numeric", attributes: { 'data-label': smallCatchHeader[8].text} },
                { html: renderCheck(catch.id, "exclude-small-catch", catch.reportingExclude, desc), format: "numeric", attributes: { 'data-label': smallCatchHeader[9].text} }
            ]) }}
        {% else %}
            {% if foundInternal %}
                {{ smallCatchItems.push([
                    { text: catch.month, rowspan: catch.rowspan, hide: catch.hide, attributes: { 'data-label': smallCatchHeader[0].text} },
                    { text: catch.river, attributes: { 'data-label': smallCatchHeader[1].text} },
                    { text: catch.fly or 0, format: "numeric", attributes: { 'data-label': smallCatchHeader[2].text} },
                    { text: catch.spinner or 0, format: "numeric", attributes: { 'data-label': smallCatchHeader[3].text} },
                    { text: catch.bait or 0, format: "numeric", attributes: { 'data-label': smallCatchHeader[4].text} },
                    { text: catch.unknown or 0, format: "numeric", attributes: { 'data-label': smallCatchHeader[5].text} },
                    { text: catch.released, format: "numeric", attributes: { 'data-label': smallCatchHeader[6].text} },
                    { html: renderChange((catch.id  + '/clear') | replace("smallCatches", "small-catches"), desc), format: "numeric", attributes: { 'data-label': smallCatchHeader[7].text} },
                    { html: renderDelete(catch.id | replace("smallCatches", "small-catches"), desc), format: "numeric", attributes: { 'data-label': smallCatchHeader[8].text} }
                ]) }}
            {% else %}
                {{ smallCatchItems.push([
                    { text: catch.month, rowspan: catch.rowspan, hide: catch.hide, attributes: { 'data-label': smallCatchHeader[0].text} },
                    { text: catch.river, attributes: { 'data-label': smallCatchHeader[1].text} },
                    { text: catch.fly or 0, format: "numeric", attributes: { 'data-label': smallCatchHeader[2].text} },
                    { text: catch.spinner or 0, format: "numeric", attributes: { 'data-label': smallCatchHeader[3].text} },
                    { text: catch.bait or 0, format: "numeric", attributes: { 'data-label': smallCatchHeader[4].text} },
                    { text: catch.released, format: "numeric", attributes: { 'data-label': smallCatchHeader[5].text} },
                    { html: renderChange((catch.id + '/clear' )| replace("smallCatches", "small-catches"), desc), format: "numeric", attributes: { 'data-label': smallCatchHeader[6].text} },
                    { html: renderDelete(catch.id | replace("smallCatches", "small-catches"), desc), format: "numeric", attributes: { 'data-label': smallCatchHeader[7].text} }
                ]) }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post">
            <h1 class="govuk-heading-l">Your {{ year }} catch return</h1>

            {{ govukTable({
                classes: "rcr-responsive-summary-table",
                captionClasses: "govuk-heading-m",
                firstCellIsHeader: true,
                caption: "Rivers fished",
                attributes: { id: "river" },
                head: [
                    { text: activityTableHeadings.river },
                    { text: activityTableHeadings.daysFishedMandatory, format: "numeric" },
                    { text: activityTableHeadings.daysFishedOther, format: "numeric" },
                    { text: activityTableHeadings.change, format: "numeric" },
                    { text: activityTableHeadings.delete, format: "numeric" }
                ],
                rows: riverRows
            }) }}

            <p class="govuk-body summary-link-right">
                {% if activities.length === 0 %}
                    <a id="activities-add" class="govuk-link " href="/activities/add/clear">Add a river</a>
                {% else %}
                    <a id="activities-add" class="govuk-link " href="/activities/add/clear">Add another river</a>
                {% endif %}
            </p>

            {% if activities.length %}

                {{ govukTableGrouped({
                    caption: "Small adult sea trout (1lb and under)",
                    classes: "rcr-responsive-summary-table exclusion-cb" if fmt else "rcr-responsive-summary-table",
                    captionClasses: "govuk-heading-m",
                    numberOfCellHeaders: 2,
                    attributes: { id: "small" },
                    head: smallCatchHeader,
                    rows: smallCatchItems
                }) }}

                <p class="govuk-body summary-link-right">
                    {% if smallCatches.length === 0 %}
                        <a id="small-catches-add" class="govuk-link " href="small-catches/add/clear">Add a small adult sea trout catch</a>
                    {% else %}
                        <a id="small-catches-add" class="govuk-link " href="small-catches/add/clear">Add another small adult sea trout catch</a>
                    {% endif %}
                </p>

                {% if smallCatches.length === 0 %}
                    <span class="govuk-caption-m govuk-!-margin-bottom-8">Skip this section if you did not catch any small adult sea trout</span>
                {% endif %}

                {{ govukTableGrouped({
                    caption: "Salmon and large adult sea trout",
                    classes: "rcr-responsive-summary-table exclusion-cb" if fmt else "rcr-responsive-summary-table",
                    captionClasses: "govuk-heading-m",
                    numberOfCellHeaders: 2,
                    attributes: { id: "large" },
                    head: largeCatchHeader,
                    rows: salmonAndLargeTroutItems
                }) }}

                <p class="govuk-body summary-link-right">
                    {% if catches.length === 0 %}
                        <a id="catches-add" class="govuk-link " href="catches/add/clear">Add a salmon or large adult sea trout</a>
                    {% else %}
                        <a id="catches-add" class="govuk-link " href="catches/add/clear">Add another salmon or large adult sea trout</a>
                    {% endif %}
                </p>

                {% if catches.length === 0 %}
                    <span class="govuk-caption-m govuk-!-margin-bottom-8">Skip this section if you did not catch any salmon or large adult sea trout</span>
                {% endif %}

            {% endif %}

            {% if activities.length %}
                {% if fmt %}
                    {{ govukCheckboxes({
                          idPrefix: "exclude-1",
                          name: "exclude",
                          classes: "disable-if-js-disable",
                          items: [{
                                value: "submission",
                                text: "Exclude this catch return from reports?",
                                checked: reportingExclude,
                                disabled: true
                          }]
                        })
                    }}
                {% else %}
                    <p class="govuk-body-m govuk-!-margin-top-7">If you plan to fish again for salmon or sea trout this year, select 'Save and return later', otherwise select 'Review catch return'.</p>
                {% endif %}
            {% endif %}

            {{ govukButton({
                name: "continue",
                text: "Review catch return",
                classes: "govuk-!-margin-right-1",
                disabled: activities.length === 0
            }) }}

            {% if fmt and activities.length %}
                {{ govukButton({
                    name: "save",
                    text: "Save and return later",
                    classes: "govuk-button--secondary",
                    attributes: { onclick: "var e=this;setTimeout(function(){e.disabled=true;},0);return true;" }
                }) }}
            {% endif %}

            {{ extra() }}
        </form>

        {% if activities.length %}
            {% if not fmt %}
                <div>
                    <a id="save" class="govuk-link govuk-body-m" href="/save">Save and return later</a>
                </div>
            {% endif %}
        {% else %}
            <div>
                <a id="cancel" class="govuk-link govuk-body-m" href="/did-you-fish">Cancel</a>
            </div>
        {% endif %}

    </div>
</div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
{% if fmt %}
    <script src="/public/javascript/summary-checkboxes-min.js"></script>
    <script>
      (function () {
        let e = document.getElementsByClassName('govuk-checkboxes__input')
        for (let i = 0; i < e.length; i++) { e[i].disabled = false }
        e = document.getElementsByClassName('rcr-tab-checkboxes__input')
        for (let i = 0; i < e.length; i++) { e[i].disabled = false }
      })()
    </script>
{% endif %}
{% endblock %}

