{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "table/macro.njk" import govukTable %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% block beforeContent %}
    {{ govukBackLink({
        href: "/licence",
        text: "Back"
    }) }}
{% endblock %}

{% block pageTitle %}Your {{ year }} catch return{% endblock %}

{% set riverRows = [] %}
{% set salmonAndLargeTroutItems = [] %}
{% set smallCatchItems = [] %}

{% macro riverLinks(id) %}
    {% set deleteurl = "/delete/" + id %}
    <a id="delete-river-{{ id }}" class="govuk-link" href="{{ deleteurl }}">Delete</a>
{% endmacro %}

{% macro renderLinks(id) %}
    {% set editurl = id %}
    {% set deleteurl = "/delete/" + id %}
    <span><a id="edit-{{ id }}" class="govuk-link" href="{{ editurl }}">Edit</a> | <a id="delete-{{ id }}" class="govuk-link" href="{{ deleteurl }}">Delete</a></span>
{% endmacro %}

{% if activities.length %}
    {% for activity in activities %}
        {{ riverRows.push([
            { text: activity.river.name },
            { text: activity.days, format: "numeric" },
            { html: renderLinks(activity.id), format: "numeric" }
        ]) }}
    {% endfor %}
{% endif %}

{% if catches.length %}
    {% for fish in catches %}
        {{ salmonAndLargeTroutItems.push([
            { text: fish.activity.river.name },
            { text: fish.dateCaught },
            { text: fish.species.name },
            { text: fish.weight },
            { text: fish.method.name },
            { text: "Yes" if fish.released else "No" },
            { html: renderLinks(fish.id), format: "numeric" }
        ]) }}
    {% endfor %}
{% endif %}

{% if smallCatches.length %}
    {% for catch in smallCatches %}
        {{ smallCatchItems.push([
            { text: catch.month },
            { text: catch.river },
            { text: catch.fly },
            { text: catch.spinner },
            { text: catch.bait },
            { text: catch.released | replace("0", "") },
            { html: renderLinks(catch.id | replace("smallCatches", "small-catches")), format: "numeric" }
        ]) }}
    {% endfor %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post">
            <h1 class="govuk-heading-l">Your {{ year }} catch return</h1>
            {{ govukTable({
                caption: "Rivers fished",
                captionClasses: "govuk-heading-m",
                firstCellIsHeader: false,
                head: [
                    { text: "River" },
                    { text: "Total days fished", format: "numeric" },
                    { text: "Actions", format: "numeric" }
                ],
                rows: riverRows
            }) }}

            <p class="govuk-body" style="text-align:right">
                <a id="activities-add" class="govuk-link " href="/activities/add">Add a river</a>
            </p>

            {% if activities.length %}
                {{ govukTable({
                    caption: "Small catches (sea trout 1lb and under)",
                    captionClasses: "govuk-heading-m",
                    firstCellIsHeader: false,
                    head: [
                        { text: "Month" },
                        { text: "River" },
                        { text: "Fly" },
                        { text: "Spinner" },
                        { text: "Bait" },
                        { text: "Released" },
                        { text: "Actions", format: "numeric" }
                    ],
                    rows: smallCatchItems
                }) }}

                <p class="govuk-body" style="text-align:right">
                    <a id="small-catches-add" class="govuk-link " href="small-catches/add">Add a small catch</a>
                </p>

                {{ govukTable({
                    caption: "Salmon and large sea trout",
                    captionClasses: "govuk-heading-m",
                    firstCellIsHeader: false,
                    head: [
                        { text: "River" },
                        { text: "Date" },
                        { text: "Type" },
                        { text: "Weight" },
                        { text: "Method" },
                        { text: "Released" },
                        { text: "Actions", format: "numeric" }
                    ],
                    rows: salmonAndLargeTroutItems
                }) }}

                <p class="govuk-body" style="text-align:right">
                    <a id="catches-add" class="govuk-link " href="catches/add">Add a salmon or large sea trout</a>
                </p>
            {% endif %}

            {{ govukButton({
                name: "continue",
                text: "Submit catch return"
            }) }}

            {{ extra() }}
        </form>

        <div>
            <a id="save" class="govuk-link govuk-body-m" href="/save">Save draft</a>
        </div>
    </div>
</div>

{% endblock %}
