{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "table/macro.njk" import govukTable %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% block beforeContent %}
    {{ govukBackLink({
        href: "/licence",
        text: "Back"
    }) }}
{% endblock %}

{% block pageTitle %}Your catch return report for {{ year }}{% endblock %}

{% set riverRows = [] %}
{% set salmonAndLargeTroutItems = [] %}

{% macro salmonAndLargeTroutLinks(id) %}
    {% set editurl = id %}
    {% set deleteurl = "/delete/" + id %}
    <span><a id="edit-{{ id }}" class="govuk-link" href="{{ editurl }}">Edit</a> | <a id="delete-{{ id }}" class="govuk-link" href="{{ deleteurl }}">Delete</a></span>
{% endmacro %}

{% macro riverLinks(id) %}
    {% set deleteurl = "/delete/" + id %}
    <a id="delete-river-{{ id }}" class="govuk-link" href="{{ deleteurl }}">Delete</a>
{% endmacro %}

{% if activities.length %}
    {% for activity in activities %}
        {{ riverRows.push([
            { text: activity.river.name },
            { text: activity.days, format: "numeric" },
            { html: riverLinks(activity.id), format: "numeric" }
        ]) }}
    {% endfor %}
{% endif %}

{% if catches.length %}
    {% for fish in catches %}
        {{ salmonAndLargeTroutItems.push([
            { text: fish.river.name },
            { text: fish.dateCaught },
            { text: fish.species.name },
            { text: fish.weight },
            { text: fish.method.name },
            { text: "Yes" if fish.released else "No" },
            { html: salmonAndLargeTroutLinks(fish.id), format: "numeric" }
        ]) }}
    {% endfor %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post">
            <h1 class="govuk-heading-l">Your catch return report for {{ year }}</h1>
            {{ govukTable({
                caption: "Rivers fished",
                captionClasses: "govuk-heading-m",
                firstCellIsHeader: false,
                head: [
                    { text: "River" },
                    { text: "Days fished in total", format: "numeric" },
                    { text: "Actions", format: "numeric" }
                ],
                rows: riverRows
            }) }}

            <p class="govuk-body" style="text-align:right">
                <a class="govuk-link " href="/activity">Add river</a>
            </p>

            {% if activities.length %}

                {{ govukTable({
                    caption: "Salmon and large sea trout caught",
                    captionClasses: "govuk-heading-m",
                    firstCellIsHeader: false,
                    head: [
                        { text: "River" },
                        { text: "Date" },
                        { text: "Type" },
                        { text: "Weight" },
                        { text: "Method" },
                        { text: "Released" },
                        { text: "Actions", format: "numeric" }
                    ],
                    rows: salmonAndLargeTroutItems
                }) }}

                <p class="govuk-body" style="text-align:right">
                    <a class="govuk-link " href="catches/add">Add a salmon or large sea trout</a>
                </p>

                {{smallCatches|dump}}

                <p class="govuk-body" style="text-align:right">
                    <a class="govuk-link " href="small-catches/add">Add a small catch of under 1 lb</a>
                </p>

            {% endif %}

            {{ govukButton({
                name: "continue",
                text: "Continue"
            }) }}

            <input type="hidden" name="rcr2018" value="{{rcr2018}}"/>
        </form>
    </div>
</div>

{% endblock %}
