CONTEXT=FMT
PORT=4000

REDIS_HOSTNAME=host.docker.internal
REDIS_PORT=6379

# Logging level
LOG_LEVEL=debug

# Set true in secure environments
HTTPS=true

# Time to live, the server authentication cache entries in milliseconds. 1 Hour
SESSION_TTL_MS=3600000

# The API setup
API_HOSTNAME=host.docker.internal
API_PORT=9580
API_PROTOCOL=https
API_PATH=/api
API_REQUEST_TIMEOUT_MS=60000

# LRU Cache
LRU_ITEMS=200000
LRU_TTL=1800000 

# Catch return entry point on GOV.UK
CATCH_RETURNS_GOV_UK=https://www.gov.uk/catch-return

# Max file upload size - 1Mb
MAX_FILE_UPLOAD_BYTES=1000000

# Scanner deamon location
# Frontend will run without this, but you will get an error on startup
CLAMD_SOCK=/run/clamav/clamd.sock
CLAMD_PORT=3310
TEMP_DIR=/tmp
