// Media print for the review and confirmation pages
@media print {
  .govuk-footer__inline-list,

  .govuk-phase-banner {
    display: none;
  }

  .print-area *, #review * {
    margin-bottom: govuk-spacing(6);
  }

  .no-print-area {
    display: none;
  }

  #print-link  {
    display: none;
  }

  .govuk-footer {
    display: none;
  }
}

// Hide print only areas on the screen
@media screen {
  .print-area, .print-area * {
    display: none;
  }
}

// For secondary buttons such as the add-another actions
.govuk-button-secondary {
  @extend .govuk-button;
  background-color: govuk-colour("grey-1");
  &:hover {
    background-color: #606060;
  }
}

// Like phase banner
.licence-info {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bfc1c3;
}

/* Global cookie message */
div#global-cookie-message {
  display: block;
  width: 100%;
  background-color: #d5e8f3;
  padding-top: 10px;
  padding-bottom: 10px;
  p {
    padding: 0 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

p.summary-link-right {
  text-align: right
}

// Elements to be unhidden by javascript if present
div.hide-if-js-disabled {
  display:none
}

// Hidden label to allow screen readers to read tabular links e.g. change/delete etc.
label.link-reader {
  display: none;
}