// Remove links from footer
@media print {
  .govuk-footer__inline-list,
  #print-link  {
    display: none;
  }

  .govuk-footer__link {
    text-decoration: none;
  }
}

.govuk-button-secondary {
  @extend .govuk-button;
  background-color: govuk-colour("grey-1");
  margin-left: govuk-spacing(3);
  &:hover {
    background-color: #606060;
  }
}

