{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
[% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% block beforeContent %}
    {{ govukBackLink({
        href: "#",
        text: "Back"
    }) }}
{% endblock %}

{% block pageTitle %}Block Title{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            <form method="post">

                {% call govukFieldset({
                    legend: {
                    html: "Example header<span class='govuk-caption-xl'>Example caption</span>",
                    classes: "govuk-fieldset__legend--xl",
                    isPageHeading: true
                }
                }) %}

                    <!--Put template components here-->

                    {{ govukButton({
                        text: "Continue" })
                    }}

                {% endcall %}

                <input type="hidden" name="rcr2018" value="{{rcr2018}}"/>
            </form>
        </h1>
    </div>
</div>
{% endblock %}
